{% extends 'baseproveedor.html.twig' %}

{% block body %}        
    <div style="position: relative; top: -50px; font-size: 16px; font-weight: bold;"><center>Módulo de Proveedor<br><img src="{{ asset('images/bgCentral.jpg') }}"></center></div>
{% endblock %}