{% extends 'baseadministrador.html.twig' %}

{% block body %}   
<div style="position: relative; width: 100%;">
    <div style=" position: relative; top: -40px; background-color: #FFFFFF; width: 50%; margin: auto; text-align: center; border: 1px solid #CCCCCC; padding: 10px;">    
    
    <div class="downloadpost" style="font-size:24px;">Editar {{ titulo|raw }}</div>    
    <hr color="#CCCCCC"></hr>

    {{ form_start(form) }}      
      
        {{ form_widget(form) }}
        
        <button type="submit" class="{{ button_css|default("btn btn-danger") }}" onclick="javascript:history.back(-1);" />
        <span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-left"></span> Cancelar
        </button>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <button type="submit" class="{{ button_css|default("btn btn-success") }}" />
          <span class="glyphicon glyphicon-ok-sign"></span> Enviar 
        </button> 
        {% if nombre is defined and nombre == "espaciospublicitarios" %}
            <input type="hidden" name="foto" id="foto" value="{{ foto }}">
        {% endif %}
    {{ form_end(form) }}	   
    <div>		
	 </div>
    </div>
    <p>&nbsp;</p>
  </div>
  {% if app.user.usuario == "superadministrador"%}
  
  <script type="text/javascript">
      setReadOnly();
      function setReadOnly(){
        var objectvalue = $("#administradores_usuario").val();
        if(objectvalue == "superadministrador"){
            $("#administradores_usuario").attr('readonly', true);
        }
      }
      
      {% if crear_espacio_usuario is defined  %}
      validardenegacion();
      function validardenegacion(){       
        if($('#espacios_publicitarios_solicitados_idEstado').val() == 3){          
          $('#espacios_publicitarios_solicitados_denegacion').attr('readonly', false);
          $('#espacios_publicitarios_solicitados_denegacion').attr('disabled', false);
          $('#espacios_publicitarios_solicitados_denegacion').attr('required', true);
        }else{
          $('#espacios_publicitarios_solicitados_denegacion').val("");
          $('#espacios_publicitarios_solicitados_denegacion').attr('readonly', true);
          $('#espacios_publicitarios_solicitados_denegacion').attr('disabled', true);
          $('#espacios_publicitarios_solicitados_denegacion').attr('required', false);
        }
      }
      {% endif %}
  </script>
  {% endif %}
	
{% endblock %}
