{% extends 'baseproveedor.html.twig' %}

{% block body %}   
  <div class="container" style="position: relative; top: -50px;">
    <div style="position: relative;">
      <div style="position: relative; float: left; width: 50%; top: 16px;">       
        <h2>{{ titulo }}</h2>         
      </div>
      <div style="position: relative; float: left; width: 45%; text-align: right; margin-top: 30px; top: -10px;">        
        <form action="" method="get">
        <input type="input" name="buscar" id="buscar" placeholder="Buscar" value="{{ buscar }}">
        </form>
      </div>
      <div style="float: left; width: 5%; text-align: right; margin-top: 30px;">
        <a href="{{ path('espaciospublicitarios_admin_new') }}"><img src="{{ asset('images/newsmall.png') }}" /><br>Nuevo</a>        
      </div>
      <div style="clear: both;"></div>
  </div>
  <div style="position: relative; overflow: auto; border: 1px solid #D7EBFF; width: 100%; height: 440px;">
  <table width="1330" cellspacing="0" cellpadding="4" border="1" bordercolor="#D7EBFF"> 
      <tr style="background-color: #004C97; color: #FFFFFF; font-weight: normal;">
        <td width="100"><center>Editar</center></td>
        <td width="100"><center>Eliminar</center></td>
        <td width="30" class="thpadding"><center>No</center></td>        
        <td width="200"><center>Creado por</center></td>        
        <td width="200"><center>Nombre Espacio</center></td>
        <td width="200"><center>Descripción</center></td>        
        <td width="50"><center>Alto</center></td>
        <td width="50"><center>Ancho</center></td>               
        <td width="150"><center>Foto Espacio</center></td>        
        <td width="50"><center>Público</center></td>
        <td width="200"><center>Fecha de Creación</center></td>        
      </tr>
    
    <tbody>
      {% set numerar =  ((pagev * cantv)-cantv + 1) %}
      {% for result in resultset %}
      <tr>
        <td align="center">
          <a href="{{ path('espaciospublicitarios_admin_edit', { 'id': result.id }) }}"><img src="{{ asset('images/editsmall.png') }}" /></a>
        </td>
        <td align="center">
          <a href="javascript:vois(0);" onclick="deleteaction('{{ path('espaciospublicitarios_admin_delete', { 'id': result.id }) }}')"><img src="{{ asset('images/deletesmall.png') }}" /></a>
        </td>
        <td class="thpadding"><center>{{ numerar }}</center></td>        
        <td class="thpadding">{{ result.idAdministrador.usuario }}</td>
        <td class="thpadding">{{ result.nombreEspacio }}</td>
        <td class="thpadding">{{ result.descripcion }}</td>
        <td class="thpadding">{{ result.alto }}</td>
        <td class="thpadding">{{ result.ancho }}</td>
        <td><img src="{{ asset('images/espaciospublicitarios/') }}{{ result.foto }}" style="width: 100px;"></td>
        <td>{% if result.publico == 1 %}Si{% else %}No{% endif %}</td>
        <td class="thpadding">{{ result.fechaCreacion|date("Y-m-d H:i:s") }}</td>
      </tr>      
      {% set numerar =  numerar + 1 %}
      {% endfor %}
    </tbody>
  </table>  
  </div>
  <center>{{ knp_pagination_render(resultset) }}</center>
</div>
<script type="text/javascript">  
  function deleteaction(v1){
    if(confirm("¿Realmente desea eliminar el elemento?")){
      window.location.href = v1;
    }
  }
</script>
{% endblock %}

