{% extends 'base.html.twig' %}

{% block body %}   
<div style="position: relative; width: 100%;">
    <div style=" position: relative; top: -40px; background-color: #FFFFFF; width: 50%; margin: auto; text-align: center; border: 1px solid #CCCCCC; padding: 10px;">    
    
    <div class="downloadpost" style="font-size:24px;">{{ titulo|raw }}</div>    
    <hr color="#CCCCCC"></hr>

    {{ form_start(form) }}      
      
        {{ form_widget(form) }}
        
        <button type="submit" class="{{ button_css|default("btn btn-danger") }}" onclick="javascript:history.back(-1);" />
        <span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-left"></span> Cancelar
        </button>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <button type="submit" class="{{ button_css|default("btn btn-success") }}" />
          <span class="glyphicon glyphicon-ok-sign"></span> Enviar 
        </button> 
    {{ form_end(form) }}	   
    <div>		
	 </div>
    </div>
    <p>&nbsp;</p>
  </div>
	
{% endblock %}
