{% extends 'base.html.twig' %}

{% block body %}   
  <div class="container" style="position: relative; top: -50px;">
    <div style="position: relative;">
      <div style="position: relative; float: left; width: 50%; top: 16px; height: 80px;">       
        <h2>{{ titulo }}</h2>         
      </div>

      <div style="clear: both;"></div>
  </div>
    
  <table width="850" cellspacing="0" cellpadding="4" border="1" bordercolor="#D7EBFF"> 
      <tr style="background-color: #004C97; color: #FFFFFF; font-weight: normal;">                
        <td width="30" class="thpadding"><center>No</center></td>        
        <td width="170"><center>Espacios solicitados</center></td>
        <td width="250"><center>Espacios instalados o reservados</center></td>
        
        <td width="230"><center>Total historico instalados</center></td>
      </tr>

    <tbody>
      {% set numerar =  ((pagev * cantv)-cantv + 1) %}
      {% for result in resultset %}
      <tr>        
        <td class="thpadding"><center>{{ numerar }}</center></td>
        <td class="thpadding"><center>{{ solicitados[result.id].solicitados }}</center></td>        
        <td class="thpadding"><center>{{ vendidos[result.id] }}</center></td>        
        
        <td class="thpadding"><center>{{ totalnegociados }}</center></td>      
      </tr>      
      {% set numerar =  numerar + 1 %}
      {% endfor %}
    </tbody>
  </table> 

  <table width="850" cellspacing="0" cellpadding="4" border="1" bordercolor="#D7EBFF"> 
       <tr style="background-color: #004C97; color: #FFFFFF; font-weight: normal;">                
        <td width="30" class="thpadding"><center>No</center></td>        
        <td width="190"><center>Espacio</center></td>
        <td width="170"><center>Disponibilidad</center></td>
      </tr>
      {% set numerar =  ((pagev * cantv)-cantv + 1) %}
      {% for espaciospublicitariostipo in espaciospublicitariostipos %}
      <tr>        
        <td class="thpadding"><center>{{ numerar }}</center></td>
        <td class="thpadding"><center>{{ espaciospublicitariostipo.nombre }}</center></td>
        <td class="thpadding"><center>
          -
        </center></td>        
      </tr>      
      {% set numerar =  numerar + 1 %}
      {% endfor %}
  </table>
 
  
  <center>{{ knp_pagination_render(resultset) }}</center>
</div>
<script type="text/javascript">  
  function deleteaction(v1){
    if(confirm("¿Realmente desea eliminar el elemento?")){
      window.location.href = v1;
    }
  }
</script>
{% endblock %}

