{% extends 'baseadministrador.html.twig' %}

{% block body %}   
	<div class="container" style="position: relative; top: -50px;">
		<div style="position: relative;">
       <div style="position: relative; float: left; width: 40%; top: 16px;">       
        <h2>{{ titulo }}</h2>         
      </div>
      <div style="position: relative; float: left; width: 15%; padding-left: 0px; padding-top: 12px; text-align: left; margin-top: 30px; top: -10px;">        
        <a href="{{ path('administradores_excel5') }}?b={{ buscar }}" class="btn btn-success">Descargar Excel</a>
      </div>

      <div style="position: relative; float: left; width: 35%; text-align: right; margin-top: 30px; top: -10px;">        
        <form action="" method="get">
        <input type="input" name="buscar" id="buscar" placeholder="Buscar" value="{{ buscar }}">
        </form>
      </div>
      <div style="float: left; width: 10%; text-align: right; margin-top: 30px;">
        <a href="{{ path('proveedores_admin_new') }}"><img src="{{ asset('images/newsmall.png') }}" /><br>Nuevo</a>
      </div>
      <div style="clear: both;"></div>
  </div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th width="2%"><center>No</center></th>
        <th width="28%"><center>Usuario</center></th>
        <th width="10%"><center>Contraseña</center></th>
        <th width="28%"><center>Nombre</center></th>
        <th width="28%"><center>Código</center></th>        
        <th width="20%"><center>Acceso Permitido</center></th>
        <th width="10%" align="center"><center>Editar</center></th>
        <th width="10%" align="center"><center>Eliminar</center></th>        
      </tr>
    </thead>
    <tbody>
      {% set n = 1 %}
      {% for result in resultset %}
      <tr>
        <td>{{ n }}</td>
        <td>{{ result.usuario }}</td>
        <td>{{ result.contrasena }}</td>
        <td>{{ result.nombre }}</td>
        <td>{{ result.codigo }}</td>
        <td>{% if result.accesoPermitido == 1 %}Si{% else %}No{% endif %}</td>
        <td align="center">
        	<a href="{{ path('proveedores_admin_edit', { 'id': result.id }) }}"><img src="{{ asset('images/editsmall.png') }}" /></a>
        </td>
        <td align="center">
        	<a href="javascript:vois(0);" onclick="deleteaction('{{ path('proveedores_admin_delete', { 'id': result.id }) }}')"><img src="{{ asset('images/deletesmall.png') }}" /></a>
        </td>
      </tr> 
      {% set n = n + 1 %}     
      {% endfor %}
    </tbody>
  </table>
</div>
<script type="text/javascript">
	function deleteaction(v1){
		if(confirm("¿Realmente desea eliminar el elemento?")){
			window.location.href = v1;
		}
	}
</script>
{% endblock %}

