{% extends 'basekoala.html.twig' %}

{% block body %}   
<div style="position: relative; width: 100%;">
    <div style=" position: relative; top: -40px; background-color: #FFFFFF; width: 50%; margin: auto; text-align: center; border: 1px solid #CCCCCC; padding: 10px;">    
    
    <div class="downloadpost" style="font-size:24px;">{{ titulo|raw }}</div>    
    <hr color="#CCCCCC"></hr>

        {% if espaciosVendidos is defined %}
            {{ form_start(form, {'attr': {'onsubmit':'return validateForm();'} } ) }}
        {% else %}
            {{ form_start(form) }}
        {% endif %}

        {% if espaciosvendidosvar is defined %}     
        {% if id1 == "1" %} 
             <b />Droguería:
            <input type="input" name="drogueria" id="drogueria" value="{{ id3 }}" readonly="readonly" class="form-control disabled">
            Espacio Publicitario:
            <input type="input" name="espacio" id="espacio" value="{{ usuariosEspaciosTipos }}" readonly="readonly" class="form-control disabled">
            <input type="hidden" name="idEspacio" id="idEspacio" value="{{ id2 }}">            
            <input type="hidden" name="casevar" id="casevar" value="{{ id1 }}">

        {% elseif id1 == "2" %}
            <b />Droguería:
            <input type="input" name="drogueria" id="drogueria" value="{{ id3 }}" readonly="readonly" class="form-control disabled">
            Espacio Publicitario:
            <input type="input" name="espacio" id="espacio" value="{{ id2 }}" readonly="readonly" class="form-control disabled">
            <input type="hidden" name="idUsuario" id="idUsuario" value="{{ id4 }}"> 
            <input type="hidden" name="casevar" id="casevar" value="{{ id1 }}">
            <input type="hidden" name="idEspacio" id="idEspacio" value="{{ id5 }}">
        {% elseif id1 == "3" %}
            <b />Droguerías:
            <input type="input" name="drogueria" id="drogueria" value="{{ id3 }}" readonly="readonly" class="form-control disabled">
            Espacio Publicitario:
            <input type="input" name="espacio" id="espacio" value="{{ id2 }}" readonly="readonly" class="form-control disabled">
            <input type="hidden" name="idUsuario" id="idUsuario" value="{{ id4 }}"> 
            <input type="hidden" name="casevar" id="casevar" value="{{ id1 }}">
            <input type="hidden" name="counter" id="counter" value="{{ id5 }}">
            <input type="hidden" name="idEspacio" id="idEspacio" value="{{ id6 }}">

        {% endif %}
        {% endif %}

        {% if espaciosVendidos is defined %}

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="http://momentjs.com/downloads/moment.min.js"></script>

        <p>Fecha Inicial: <input type="text" id="fechaInicial" name="fechaInicial" class="form-control" readonly="readonly" onchange="recaulcular()"></p>
        <p>Fecha Final: <input type="text" id="fechaFinal" name="fechaFinal" class="form-control" readonly="readonly" onchange="recaulcular()">
        <input type="hidden" name="valorTotal" id="valorTotal" value="0">
        </p>

        <script>
            var f = new Date();
            var g = new Date();
            g.setDate(g.getDate() + 30);

            $('#fechaInicial').val(f.getFullYear() + "-" + monthFormated(f.getMonth()) + "-" + f.getDate());
            $('#fechaFinal').val(f.getFullYear() + "-" + monthFormated(f.getMonth()) + "-" + f.getDate());

            function monthFormated(date) {
                return date < 9 ? "0" + (date+1) : date+1;
            }

           $( function() {
                $('#fechaInicial').datepicker({
                    minDate: 0,
                    dateFormat: 'yy-mm-dd',
                     monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                     monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                     dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                     dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                     dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                    onSelect: function(selectedDate) {
                         recaulcular();
                     }
                 });
                $.datepicker.setDefaults($.datepicker.regional['es']);
           } );

           $( function() {
                $('#fechaFinal').datepicker({
                    minDate: 0,
                    dateFormat: 'yy-mm-dd',
                     monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                     monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                     dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                     dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                     dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                    onSelect: function(selectedDate) {
                         recaulcular();
                     }
                 });
                $.datepicker.setDefaults($.datepicker.regional['es']);
                
           } );
           
           function recaulcular(){

                var fechaInicio = new Date($('#fechaInicial').val()).getTime();
                var fechaFin    = new Date($('#fechaFinal').val()).getTime();

                var fechaIniciot = $('#fechaInicial').val().split("-");
                var fechaFint    = $('#fechaFinal').val().split("-");                
                
                var diff = ((fechaFin - fechaInicio)/(1000*60*60*24));
                var diffmeses = parseInt(((fechaFin - fechaInicio)/(1000*60*60*24*30)));

                if(diff < 0){
                    alert("La fecha final debe ser mayor a la inicial");
                    $("#espacios_vendidos_dias").val(0);
                    
                    $('#fechaInicial').val(f.getFullYear() + "-" + monthFormated(f.getMonth()) + "-" + f.getDate());
                    $('#fechaFinal').val(f.getFullYear() + "-" + (monthFormated(f.getMonth())) + "-" + f.getDate());

                }else{    
                    var valormes = $("#espacios_vendidos_ValorMensual").val();
                    valormes = parseFloat(valormes.replace(/[^0-9\,]/g, ''));                
                    $("#espacios_vendidos_dias").val(diff);

                    if(fechaIniciot[2] == fechaFint[2]){                        
                        
                        var valorfinat = parseInt((valormes * diffmeses));
                        console.log(valorfinat);
                        $("#valorTotal").val(valorfinat);

                        var valorfinat = number_format(valorfinat, 0);
                        $("#espacios_vendidos_Valor").val(valorfinat);

                        $("#espacios_vendidos_ValorMensual").val(number_format(valormes,0));

                    }else{                        

                        var valorfinat = parseInt(diff * (valormes / 30));
                        console.log(valorfinat);
                        $("#valorTotal").val(valorfinat);

                        var valorfinat = number_format(valorfinat, 0);
                        $("#espacios_vendidos_Valor").val(valorfinat);

                        $("#espacios_vendidos_ValorMensual").val(number_format(valormes,0));                                           
                    }
                }
            }


            function number_format(amount, decimals) {

                amount += ''; 
                amount = parseFloat(amount.replace(/[^0-9\,]/g, '')); 

                decimals = decimals || 0; 

                
                if (isNaN(amount) || amount === 0) 
                    return parseFloat(0).toFixed(decimals);

                
                amount = '' + amount.toFixed(decimals);

                var amount_parts = amount.split(','),
                    regexp = /(\d+)(\d{3})/;

                while (regexp.test(amount_parts[0]))
                    amount_parts[0] = amount_parts[0].replace(regexp, '$1' + '.' + '$2');

                return amount_parts.join(',');
            }

            function solonumeros(e){
                tecla = (document.all) ? e.keyCode : e.which;
                
                if (tecla==8){
                    return true;
                }                    
                
                patron =/[0-9]/;
                tecla_final = String.fromCharCode(tecla);
                return patron.test(tecla_final);
            }

            function validateForm(){
                amount = $("#espacios_vendidos_Valor").val();
                amount = parseFloat(amount.replace(/[^0-9\,]/g, ''));
                $("#espacios_vendidos_Valor").val(amount);
                return;
            }

            </script>


          
            {% endif %}
        
        {{ form_widget(form) }}
        <button type="submit" class="{{ button_css|default("btn btn-danger") }}" onclick="javascript:history.back(-1);" />
        <span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-left"></span> Cancelar
        </button>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <button type="submit" class="{{ button_css|default("btn btn-success") }}" />
          <span class="glyphicon glyphicon-ok-sign"></span> Enviar 
        </button>
    {{ form_end(form) }}       
    <div>       
     </div>
    </div>
    <p>&nbsp;</p>
  </div>
  <script type="text/javascript">
      function recaulcularb(){
        
        var anioInicial = parseInt($("#espacios_vendidos_fechaInicial_year").val());
        var mesInicial = parseInt($("#espacios_vendidos_fechaInicial_month").val());
        var diaInicial = parseInt($("#espacios_vendidos_fechaInicial_day").val());

        var anioFinal = parseInt($("#espacios_vendidos_fechaFinal_year").val());
        var mesFinal = parseInt($("#espacios_vendidos_fechaFinal_month").val());
        var diaFinal = parseInt($("#espacios_vendidos_fechaFinal_day").val());

        var cantidadmeses = 1;
        var acumularanios = 0;

        
        if(anioInicial > anioFinal){
            alert("El año inicial es mayor que el final");
            document.getElementById("espacios_vendidos_fechaInicial_year").selectedIndex = "0";
            document.getElementById("espacios_vendidos_fechaFinal_year").selectedIndex = "0";
            document.getElementById("espacios_vendidos_fechaInicial_month").selectedIndex = "0";
            document.getElementById("espacios_vendidos_fechaFinal_month").selectedIndex = "0";
        }else if(anioInicial == anioFinal){
            acumularanios = 0;
            if(mesInicial > mesFinal){
                alert("El mes inicial es mayor que el final");
                document.getElementById("espacios_vendidos_fechaInicial_month").selectedIndex = "0";
                document.getElementById("espacios_vendidos_fechaFinal_month").selectedIndex = "0";
            }else if(mesInicial == mesFinal){
                cantidadmeses = 1;
            }else{
                cantidadmeses = mesFinal - mesInicial;
            }
        }else{            
            acumularanios = (anioFinal - anioInicial);
            if(mesInicial > mesFinal){
                acumularanios = (anioFinal - anioInicial) - 1;
                var a1 = 12 - mesInicial;
                var a2 = mesFinal;
                cantidadmeses = a1 + mesFinal;
                if(anioFinal == (anioInicial + 1)){
                    acumularanios = 0;
                }
               
            }else{
                cantidadmeses = mesFinal - mesInicial;
            }
        }
        
        if(anioInicial == anioFinal && mesInicial == mesFinal){
            if(diaInicial > diaFinal){
                alert("La fecha inicial es mayor que la final");
                document.getElementById("espacios_vendidos_fechaInicial_day").selectedIndex = "0";
                document.getElementById("espacios_vendidos_fechaFinal_day").selectedIndex = "0";
            }
        }

        if(parseInt($("#espacios_vendidos_ValorMensual").val()) <= 0){
            $("#espacios_vendidos_ValorMensual").val("0");
        }

        acumularaniossend = acumularanios * 12;
        var valorfinal = ($("#espacios_vendidos_ValorMensual").val() * (cantidadmeses + acumularaniossend));

        $("#espacios_vendidos_Valor").val(valorfinal);

      }
</script>
{% endblock %}
