{% extends 'baseadministrador.html.twig' %}

{% block body %}   
	<div class="container" style="position: relative; top: -50px;">
		<div style="position: relative;">
			<div style="float: left; width: 50%">				
				<h2>{{ titulo }}</h2>  				
			</div>
			<div style="float: left; width: 50%; text-align: right; margin-top: 30px;">
				<a href="{{ path('usuarioskoala_admin_new') }}"><img src="{{ asset('images/newsmall.png') }}" /><br>Nuevo</a>
			</div>
			<div style="clear: both;"></div>
	</div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th width="30%"><center>Operadores Koala</center></th>
        <th width="30%"><center>Contraseña</center></th>
        <th width="20%"><center>Acceso Permitido</center></th>
        <th width="10%" align="center"><center>Editar</center></th>
        <th width="10%" align="center"><center>Eliminar</center></th>        
      </tr>
    </thead>
    <tbody>
      {% for result in resultset %}
      <tr>
        <td>{{ result.usuario }}</td>
        <td>{{ result.contrasena }}</td>
        <td>{% if result.accesoPermitido == 1 %}Si{% else %}No{% endif %}</td>
        <td align="center">
        	<a href="{{ path('usuarioskoala_admin_edit', { 'id': result.id }) }}"><img src="{{ asset('images/editsmall.png') }}" /></a>
        </td>
        <td align="center">
        	<a href="javascript:vois(0);" onclick="deleteaction('{{ path('usuarioskoala_admin_delete', { 'id': result.id }) }}')"><img src="{{ asset('images/deletesmall.png') }}" /></a>
        </td>
      </tr>      
      {% endfor %}
    </tbody>
  </table>
</div>
<script type="text/javascript">
	function deleteaction(v1){
		if(confirm("¿Realmente desea eliminar el elemento?")){
			window.location.href = v1;
		}
	}
</script>
{% endblock %}

