{% extends 'baseadministrador.html.twig' %}

{% block body %}   
  <div class="container" style="position: relative; top:0px; margin-top: -60px;">
    <div style="position: relative; height: 80px;">
      <div style="position: relative; float: left; width: 50%; top: 16px;">       
        <h2>{{ titulo }}</h2>         
      </div>
      <div style="clear: both;"></div>
  </div>
  <div style="position: relative; overflow: auto; border: 1px solid #D7EBFF; width: 100%; height: 440px;">
    
    <h4>Buscar por Droguería:</h4>
    <form action="" method="post">
      <input type="input" name="buscar" id="buscar" placeholder="Código de droguería" value="{{ buscar }}">
      <button class="btn btn-primary" type="submit">Buscar</button>
      <input type="hidden" name="casevar" value="1">
    </form>
    <hr color="#CCCCCC">
    <h4>Buscar por tipo de espacio:</h4>
    <form action="" method="post">
      <select name="buscarb" id="buscarb" class="form-control">
        {% for espaciospublicitariostipo in espaciospublicitariostipos %}
            <option value="{{ espaciospublicitariostipo.id }}">{{ espaciospublicitariostipo.nombre }}</option>
        {% endfor %}
      </select>
      <select name="regional" id="regional" class="form-control" style="height: 46px;" onchange="setCiudades(this.value)">
            <option value="Todas" selected="selected">Todas las Regionales</option>        
            <option value="2100">PEREIRA</option>
            <option value="3100">BARRANQUILLA</option>
            <option value="5100">MEDELLÍN</option>
            <option value="6100">CALI</option>
            <option value="8100">COTA</option>
            <option value="9100">BUCARAMANGA</option>
        
      </select>
      <select name="ciudad" id="ciudad" class="form-control" style="height: 46px;">
            <option value="Todas" selected="selected">Todas las Ciudades</option>        
      </select>
      <button class="btn btn-primary" type="submit">Buscar</button>
      <input type="hidden" name="casevar" value="2">
    </form>
</div>
</div>
<script type="text/javascript">  
  function deleteaction(v1){
    if(confirm("¿Realmente desea eliminar el elemento?")){
      window.location.href = v1;
    }
  }

  
  var arrCiudadesRegional2 = new Array();
  var arrCiudadesRegional3 = new Array();
  var arrCiudadesRegional5 = new Array();
  var arrCiudadesRegional6 = new Array();
  var arrCiudadesRegional8 = new Array();
  var arrCiudadesRegional9 = new Array();
  var arrCiudadesAll = new Array();
  
  
  {% for key,value in arrCiudadesAll %}      
      arrCiudadesAll.push("{{ value }}");
  {% endfor %}

  {% for key,value in arrCiudadesRegionales["2100"] %}      
      arrCiudadesRegional2.push("{{ value }}");
  {% endfor %}

  {% for key,value in arrCiudadesRegionales["3100"] %}      
      arrCiudadesRegional3.push("{{ value }}");
  {% endfor %}

  {% for key,value in arrCiudadesRegionales["5100"] %}      
      arrCiudadesRegional5.push("{{ value }}");
  {% endfor %}

  {% for key,value in arrCiudadesRegionales["6100"] %}      
      arrCiudadesRegional6.push("{{ value }}");
  {% endfor %}

  {% for key,value in arrCiudadesRegionales["8100"] %}      
      arrCiudadesRegional8.push("{{ value }}");
  {% endfor %}

  {% for key,value in arrCiudadesRegionales["9100"] %}      
      arrCiudadesRegional9.push("{{ value }}");
  {% endfor %}
  setCiudades(0);
  function setCiudades(value){
    //alert(value);
    var mySelect = document.getElementById('ciudad');
    mySelect.options.length = 0;
    $('#ciudad').append('<option value="Todas">Todas las Ciudades</option>');
    
    if(value == "2100"){
      $(arrCiudadesRegional2).each(function (index, element){
        $('#ciudad').append('<option value="' + element + '">' + element + '</option>');
      });
    }else if(value == "3100"){
      $(arrCiudadesRegional3).each(function (index, element){
        $('#ciudad').append('<option value="' + element + '">' + element + '</option>');
      });
    }else if(value == "5100"){
      $(arrCiudadesRegional5).each(function (index, element){
        $('#ciudad').append('<option value="' + element + '">' + element + '</option>');
      });
    }else if(value == "6100"){
      $(arrCiudadesRegional6).each(function (index, element){
        $('#ciudad').append('<option value="' + element + '">' + element + '</option>');
      });
    }else if(value == "8100"){
      $(arrCiudadesRegional8).each(function (index, element){
        $('#ciudad').append('<option value="' + element + '">' + element + '</option>');
      });
    }else if(value == "9100"){
      $(arrCiudadesRegional9).each(function (index, element){
        $('#ciudad').append('<option value="' + element + '">' + element + '</option>');
      });
    }else{
      $(arrCiudadesAll).each(function (index, element){
        $('#ciudad').append('<option value="' + element + '">' + element + '</option>');
      });
    }     
  }
  
</script>
{% endblock %}

