{% extends 'baseadministrador.html.twig' %}

{% block body %}   
  <div class="container" style="position: relative; top: -50px;">
    <div style="position: relative;">
       <div style="position: relative; float: left; width: 40%; top: 16px;">       
        <h2>{{ titulo }}</h2>         
      </div>
      <div style="position: relative; float: left; width: 15%; padding-left: 0px; padding-top: 12px; text-align: left; margin-top: 30px; top: -10px;">        
        <a href="{{ path('administradores_excel3') }}?b={{ buscar }}" class="btn btn-success">Descargar Excel</a>
      </div>

      <div style="position: relative; float: left; width: 45%; text-align: right; margin-top: 30px; top: -10px;">        
        <form action="" method="get">
        <input type="input" name="buscar" id="buscar" placeholder="Buscar" value="{{ buscar }}">
        </form>
      </div>
      <div style="clear: both;"></div>
  </div>
  <div style="position: relative; overflow: auto; border: 1px solid #D7EBFF; width: 100%; height: 440px;">
  <table width="3000" cellspacing="0" cellpadding="4" border="1" bordercolor="#D7EBFF"> 
      <tr style="background-color: #004C97; color: #FFFFFF; font-weight: normal;">
        <td width="150" class="thpadding"><center>Cambiar Estado</center></td>  
        <td width="30" class="thpadding"><center>No</center></td>        
        <td width="300"><center>Nombre Espacio</center></td>
        <td width="300"><center>Droguería</center></td>
        <td width="300"><center>Estado</center></td>
        <td width="300"><center>Proveedor</center></td>
        <td width="300"><center>Contácto Proveedor</center></td>
        <td width="300"><center>Asignado por</center></td>
        <td width="300"><center>Fecha Asignación</center></td>
        <td width="300"><center>Fecha Inicio</center></td>
        <td width="300"><center>Fecha Fin</center></td>
        <td width="300"><center>Valor</center></td>                
        <td width="300"><center>Foto Espacio</center></td>        
        <td width="300"><center>Foto Material</center></td>
      </tr>
    
    <tbody>
      {% set numerar =  ((pagev * cantv)-cantv + 1) %}
      {% for result in resultset %}
      <tr>
        <td align="center">
          {% if result.idEstado.id <= 2 and result.idAdministradorSolicitud != NULL %}
            {% if result.idAdministradorSolicitud.id == app.user.id %}
            <a href="{{ path('espaciosvendidos_admin_cambiarestado', { 'id': result.id }) }}"><img src="{{ asset('images/editsmall.png') }}" /></a>
            {% else %}
            &nbsp;
            {% endif %}
          {% else %}
          &nbsp;
          {% endif %}
        </td>
        <td class="thpadding"><center>{{ numerar }}</center></td>        
        <td class="thpadding">
                              {% if result.idEspacio.idTipoEspacio.id == 13 %}
                                {{ result.idEspacio.idTipoEspacio.nombre }} - {{ result.idEspacio.nombreEspacio }}
                              {% else %}
                                {{ result.idEspacio.idTipoEspacio.nombre }}
                              {% endif %}

        </td>
        <td class="thpadding">{{ result.idUsuario.usuario }} - {{ result.idUsuario.drogueria }}</td>
        <td class="thpadding">{{ result.idEstado.estado }}</td>
        <td class="thpadding">{{ result.idProveedor.nombre }}</td>
        <td class="thpadding">{{ result.proveedorNombre }} / Cédula: {{ result.proveedorCedula }}<br>
        Celular: {{ result.proveedorCelular }} / Cargo: {{ result.proveedorCargo }}
        </td>
        <td class="thpadding">
          {% if result.idAdministradorSolicitud != NULL %}Administrador: {{ result.idAdministradorSolicitud.usuario }}{% endif %}
          
          {% if result.idUsuariokoalaSolicitud != NULL %}Operador Koala: {{ result.idUsuariokoalaSolicitud.usuario }}{% endif %}
          
          {% if result.idProveedorSolicitud != NULL %}Proveedor: {{ result.idProveedorSolicitud.usuario }}{% endif %}

          {% if result.idProveedorSolicitud == NULL and result.idUsuariokoalaSolicitud == NULL and result.idAdministradorSolicitud == NULL %}
            {% if result.idUsuario != NULL %} Droguería: {{ result.idUsuario.usuario }}{% endif %}
          {% endif %}
        </td>
        <td class="thpadding">{{ result.fechaRadicacion|date("Y-m-d H:i:s") }}</td>
        <td class="thpadding">{{ result.fechaInicial|date("Y-m-d") }}</td>
        <td class="thpadding">{{ result.fechaFinal|date("Y-m-d") }}</td>
        <td class="thpadding">{{ result.valor|number_format(0) }}</td>        
         <td>
          <center>
          {% if result.fotoEspacio == "unloaded"  or result.fotoEspacio == "" %}
          Imagen no cargada
          {% else %}  
          <img src="{{ asset('images/espaciospublicitarios/') }}{{ result.fotoEspacio }}" style="width: 100px;">
          {% endif %}
        </center>
        </td>
        <td><center>
          {% if result.fotoMaterial == "unloaded"  or result.fotoMaterial == "" %}
          Imagen no cargada
          {% else %}  
          <img src="{{ asset('images/espaciospublicitarios/') }}{{ result.fotoMaterial }}" style="width: 100px;">
          {% endif %}
        </center>
        </td>         
      </tr>      
      {% set numerar =  numerar + 1 %}
      {% endfor %}
    </tbody>
  </table>  
  </div>
  <center>{{ knp_pagination_render(resultset) }}</center>
</div>
<script type="text/javascript">  
  function deleteaction(v1){
    if(confirm("¿Realmente desea eliminar el elemento?")){
      window.location.href = v1;
    }
  }
    {% if errort is defined %}
    {% if errort != "" %}
      alert("{{ errort }}");
    {% endif %}    
  {% endif %}  
</script>
{% endblock %}

