<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Exhibiciones Comerciales Farmacenter{% endblock %}</title>
        <link href="{{ asset('images/favicon.ico?v=1') }}" rel="shortcut icon" type="image/vnd.microsoft.icon" />
        
        {% block stylesheets %}

			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

			<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        {% endblock %}

        <script src="{{ asset('js/validaciones.js') }}"></script>

        <style>        	
        	body {
        		font-family: 'Lato';
			    background-color: #FFFFFF;
			}

		    .navbar {
		      margin-bottom: 50px;
		      border-radius: 0;
		    }
		    

		     .jumbotron {
		      margin-bottom: 0;
		      margin-top: 0;
		      background-color: #004C97;
		      color: #004C97;
		      height: 130px;
		    }
		   

		    footer {		      
		      padding: 25px;
		    }

			.centralcols{
				padding: 20px; 
				border: 1px solid #CCCCCC;
				text-align: center;
				cursor: pointer;
			}
		
		 input[type=text], select {
		    width: 100%;
		    padding: 12px 20px;
		    margin: 8px 0;
		    display: inline-block;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    box-sizing: border-box;
		}
		input[type=input], select {
		    width: 100%;
		    padding: 12px 20px;
		    margin: 8px 0;
		    display: inline-block;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    box-sizing: border-box;
		}

		input[type=password], select {
		    width: 100%;
		    padding: 12px 20px;
		    margin: 8px 0;
		    display: inline-block;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    box-sizing: border-box;
		}

		input[type=email], select {
		    width: 100%;
		    padding: 12px 20px;
		    margin: 8px 0;
		    display: inline-block;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    box-sizing: border-box;
		}
		input[type=number], select {
		    width: 100%;
		    padding: 12px 20px;
		    margin: 8px 0;
		    display: inline-block;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    box-sizing: border-box;
		}

		input[type=file], select {
		    width: 100%;
		    height: 44px;
		    padding: 12px 20px;
		    margin: 8px 0;
		    display: inline-block;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    box-sizing: border-box;
		}

		#espacios_vendidos_idProveedor, #espacios_vendidos_idEspacio, #espacios_publicitarios_publico,#espacios_publicitarios_solicitados_idEstado, #espacios_publicitarios_solicitados_publico, #espacios_vendidos_idUsuario, #espacios_publicitarios_edit_publico, #espacios_vendidos_estado_idEstado, #usuarios_mostrador, #usuarios_autoservicio, #usuarios_accesoPermitido
		{
		    width: 100%;
		    padding: 12px 20px;
		    margin: 8px 0;
		    display: inline-block;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    box-sizing: border-box;
		}

		input[type=date], select {
		    width: 33%;
		    padding: 12px 20px;
		    margin: 8px 0;
		    display: inline-block;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    box-sizing: border-box;
		}

		textarea {
		    width: 100%;
		    height: 100px;
		    padding: 12px 20px;
		    margin: 8px 0;
		    display: inline-block;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    box-sizing: border-box;
		}

		input[type=submit] {
		    width: 100%;
		    background-color: #CCCCCC;
		    color: white;
		    padding: 14px 20px;
		    margin: 8px 0;
		    border: none;
		    border-radius: 4px;
		    cursor: pointer;
		    font-size: 18px;
		}

		input[type=radio] {
		    width: 20px;
		    height: 20px;
		    cursor: pointer;
		}
		input[type=checkbox] {
		    width: 20px;
		    height: 20px;
		    cursor: pointer;
		}
		.thpadding{
			padding: 4px;
			font-weight: normal;
		}
		</style> 
    </head>
    <body>




<form id="enviarf" name="enviarf" method="post" action="">
<table width="100%" border="1" cellspacing="0" cellpadding="4" bordercolor="#CCCCCC" class="table table-bordered table-striped table-hover">
  <tbody>

    <tr>
      <td colspan="2" align="center" bgcolor="#E3E3E3" style="padding:4px;" ><strong>RESUMEN</strong></td>
    </tr>
    {% set counter = 1 %}
    {% for espaciospublicitariostipo in espaciospublicitariostipos %}
    <tr>
      <td align="right" bgcolor="#EEEEEE" style="padding:4px;" ><strong>{{ espaciospublicitariostipo.nombre }}</strong></td>
      <td align="right" bgcolor="#FFFFFF" style="padding:4px;" >

        <select id="tipo_{{ counter }}" name="tipo_{{ counter }}"  class="form-control" >
          <option value="SI" {% if espaciospublicitariosdisponibles[counter] == "SI" %} selected="selected" {% endif %}>SI</option>
          <option value="NO" {% if espaciospublicitariosdisponibles[counter] == "NO" or espaciospublicitariosdisponibles[counter] == ""  %} selected="selected" {% endif %}>NO</option>
        </select>

      </td>
    </tr>
    {% set counter = counter + 1 %}
    {% endfor %}
    <tr>
      <td style="padding:4px;" colspan="2" align="center" bgcolor="#E3E3E3"><strong>ANTENAS  DE SEGURIDAD</strong></td>
    </tr>
    <tr>
      <td width="50%" align="right" valign="middle" style="padding:4px;">CANTIDAD </td>
      <td style="padding:4px;" width="50%"><input name="tipo_1_1" type="text" class="form-control" id="tipo_1_1" style="width:100%;" value="{{ usuariosespacios.tipo11 }}"></td>
    </tr>
    <tr>
      <td align="right" valign="middle" style="padding:4px;">SENSORMATIC</td>
      <td style="padding:4px;" ><input name="tipo_1_2" type="text" class="form-control" id="tipo_1_2" style="width:100%;" value="{{ usuariosespacios.tipo12 }}"></td>
    </tr>
    <tr>
      <td align="right" valign="middle" style="padding:4px;">TUBULARES</td>
      <td style="padding:4px;" ><input name="tipo_1_3" type="text" class="form-control" id="tipo_1_3" style="width:100%;" value="{{ usuariosespacios.tipo13 }}"></td>
    </tr>
    <tr>
      <td align="right" valign="middle" style="padding:4px;">ANCHO </td>
      <td style="padding:4px;" ><input name="tipo_1_4" type="text" class="form-control" id="tipo_1_4" style="width:100%;" value="{{ usuariosespacios.tipo14 }}"></td>
    </tr>
    <tr>
      <td align="right" valign="middle" style="padding:4px;">ALTO</td>
      <td style="padding:4px;" ><input name="tipo_1_5" type="text" class="form-control" id="tipo_1_5" style="width:100%;" value="{{ usuariosespacios.tipo15 }}"></td>
    </tr>
    <tr>
      <td style="padding:4px;" colspan="2" align="center" bgcolor="#E3E3E3"><strong>CANASTILLAS Y CARROS </strong></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;">CANTIDAD CANASTILLAS </td>
      <td style="padding:4px;" ><input name="tipo_2_1" type="text" class="form-control" id="tipo_2_1" style="width:100%;" value="{{ usuariosespacios.tipo21 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;">ALTO </td>
      <td style="padding:4px;" ><input name="tipo_2_2" type="text" class="form-control" id="tipo_2_2" style="width:100%;" value="{{ usuariosespacios.tipo22 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;">ANCHO </td>
      <td style="padding:4px;" ><input name="tipo_2_3" type="text" class="form-control" id="tipo_2_3" style="width:100%;" value="{{ usuariosespacios.tipo23 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;">PROFUNDO</td>
      <td style="padding:4px;" ><input name="tipo_2_4" type="text" class="form-control" id="tipo_2_4" style="width:100%;" value="{{ usuariosespacios.tipo24 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;">CANTIDAD CARROS </td>
      <td style="padding:4px;" ><input name="tipo_2_5" type="text" class="form-control" id="tipo_2_5" style="width:100%;" value="{{ usuariosespacios.tipo25 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;">MEDIDA</td>
      <td style="padding:4px;" ><input name="tipo_2_6" type="text" class="form-control" id="tipo_2_6" style="width:100%;" value="{{ usuariosespacios.tipo26 }}"></td>
    </tr>
    <tr>
      <td style="padding:4px;" colspan="2" align="center" bgcolor="#E3E3E3"><strong>MOSTRADOR</strong></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >ALTO</td>
      <td style="padding:4px;" ><input name="tipo_3_1" type="text" class="form-control" id="tipo_3_1" style="width:100%;" value="{{ usuariosespacios.tipo31 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >ANCHO</td>
      <td style="padding:4px;" ><input name="tipo_3_2" type="text" class="form-control" id="tipo_3_2" style="width:100%;" value="{{ usuariosespacios.tipo32 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >LARGO</td>
      <td style="padding:4px;" ><input name="tipo_3_3" type="text" class="form-control" id="tipo_3_3" style="width:100%;" value="{{ usuariosespacios.tipo33 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >MARCA </td>
      <td style="padding:4px;" ><input name="tipo_3_4" type="text" class="form-control" id="tipo_3_4" style="width:100%;" value="{{ usuariosespacios.tipo34 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >PIEZA</td>
      <td style="padding:4px;" ><input name="tipo_3_5" type="text" class="form-control" id="tipo_3_5" style="width:100%;" value="{{ usuariosespacios.tipo35 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >TIEMPO DE NEGOCIACION </td>
      <td style="padding:4px;" ><input name="tipo_3_6" type="text" class="form-control" id="tipo_3_6" style="width:100%;" value="{{ usuariosespacios.tipo36 }}"></td>
    </tr>
    <tr>
      <td colspan="2" align="center" bgcolor="#E3E3E3" style="padding:4px;" ><p><strong>PUBLICIDAD  DEL RETABLO</strong></p></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >CANTIDAD</td>
      <td style="padding:4px;" ><input name="tipo_4_1" type="text" class="form-control" id="tipo_4_1" style="width:100%;" value="{{ usuariosespacios.tipo41 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >MEDIDA 1 </td>
      <td style="padding:4px;" ><input name="tipo_4_2" type="text" class="form-control" id="tipo_4_2" style="width:100%;" value="{{ usuariosespacios.tipo42 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >UBICACIÓN 1</td>
      <td style="padding:4px;" ><input name="tipo_4_3" type="text" class="form-control" id="tipo_4_3" style="width:100%;" value="{{ usuariosespacios.tipo43 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >MEDIDA 2</td>
      <td style="padding:4px;" ><input name="tipo_4_4" type="text" class="form-control" id="tipo_4_4" style="width:100%;" value="{{ usuariosespacios.tipo44 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >UBICACIÓN 2 </td>
      <td style="padding:4px;" ><input name="tipo_4_5" type="text" class="form-control" id="tipo_4_5" style="width:100%;" value="{{ usuariosespacios.tipo45 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >MEDIDA 3</td>
      <td style="padding:4px;" ><input name="tipo_4_6" type="text" class="form-control" id="tipo_4_6" style="width:100%;" value="{{ usuariosespacios.tipo46 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >UBICACIÓN 3 </td>
      <td style="padding:4px;" ><input name="tipo_4_7" type="text" class="form-control" id="tipo_4_7" style="width:100%;" value="{{ usuariosespacios.tipo47 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >MEDIDA 4</td>
      <td style="padding:4px;" ><input name="tipo_4_8" type="text" class="form-control" id="tipo_4_8" style="width:100%;" value="{{ usuariosespacios.tipo48 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >UBICACIÓN 4</td>
      <td style="padding:4px;" ><input name="tipo_4_9" type="text" class="form-control" id="tipo_4_9" style="width:100%;" value="{{ usuariosespacios.tipo49 }}"></td>
    </tr>
    <tr>
      <td colspan="2" align="center" bgcolor="#E3E3E3" style="padding:4px;" ><strong>GABINETES</strong></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >CANTIDAD</td>
      <td style="padding:4px;" ><input name="tipo_5_1" type="text" class="form-control" id="tipo_5_1" style="width:100%;" value="{{ usuariosespacios.tipo51 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >MEDIDAS GABINETE 1 </td>
      <td style="padding:4px;" ><input name="tipo_5_2" type="text" class="form-control" id="tipo_5_2" style="width:100%;" value="{{ usuariosespacios.tipo52 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >MEDIDAS GABINETE 2</td>
      <td style="padding:4px;" ><input name="tipo_5_3" type="text" class="form-control" id="tipo_5_3" style="width:100%;" value="{{ usuariosespacios.tipo53 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >MEDIDAS GABINETE 3</td>
      <td style="padding:4px;" ><input name="tipo_5_4" type="text" class="form-control" id="tipo_5_4" style="width:100%;" value="{{ usuariosespacios.tipo54 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >MEDIDAS GABINETE 4</td>
      <td style="padding:4px;" ><input name="tipo_5_5" type="text" class="form-control" id="tipo_5_5" style="width:100%;" value="{{ usuariosespacios.tipo55 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >MEDIDAS GABINETE 5</td>
      <td style="padding:4px;" ><input name="tipo_5_6" type="text" class="form-control" id="tipo_5_6" style="width:100%;" value="{{ usuariosespacios.tipo56 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >MARCA </td>
      <td style="padding:4px;" ><input name="tipo_5_7" type="text" class="form-control" id="tipo_5_7" style="width:100%;" value="{{ usuariosespacios.tipo57 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >TORRES OCUPADAS </td>
      <td style="padding:4px;" ><input name="tipo_5_8" type="text" class="form-control" id="tipo_5_8" style="width:100%;" value="{{ usuariosespacios.tipo58 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >TIEMPO DE NEGOCIACION</td>
      <td style="padding:4px;" ><input name="tipo_5_9" type="text" class="form-control" id="tipo_5_9" style="width:100%;" value="{{ usuariosespacios.tipo59 }}"></td>
    </tr>
    <tr>
      <td colspan="2" align="center" bgcolor="#E3E3E3" style="padding:4px;" ><p><strong>ESTANTERIA  DETRÁS DE MOSTRADORHABLADOR EN LA PARTE SUPERIOR Y/O CAJA DE LUZ</strong></p></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >CANTIDAD</td>
      <td style="padding:4px;" ><input name="tipo_6_1" type="text" class="form-control" id="tipo_6_1" style="width:100%;" value="{{ usuariosespacios.tipo61 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >MARCA</td>
      <td style="padding:4px;" ><input name="tipo_6_2" type="text" class="form-control" id="tipo_6_2" style="width:100%;" value="{{ usuariosespacios.tipo62 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >MEDIDA </td>
      <td style="padding:4px;" ><input name="tipo_6_3" type="text" class="form-control" id="tipo_6_3" style="width:100%;" value="{{ usuariosespacios.tipo63 }}"></td>
    </tr>
    <tr>
      <td colspan="2" align="center" bgcolor="#E3E3E3" style="padding:4px;" ><strong>GONDOLAS</strong></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >N° PASILLOS</td>
      <td style="padding:4px;" ><input name="tipo_7_1" type="text" class="form-control" id="tipo_7_1" style="width:100%;" value="{{ usuariosespacios.tipo71 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >ALTO </td>
      <td style="padding:4px;" ><input name="tipo_7_2" type="text" class="form-control" id="tipo_7_2" style="width:100%;" value="{{ usuariosespacios.tipo72 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >ANCHO DE LOS MODULOS</td>
      <td style="padding:4px;" ><input name="tipo_7_3" type="text" class="form-control" id="tipo_7_3" style="width:100%;" value="{{ usuariosespacios.tipo73 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >N° MODULOS X PASILLO</td>
      <td style="padding:4px;" ><input name="tipo_7_4" type="text" class="form-control" id="tipo_7_4" style="width:100%;" value="{{ usuariosespacios.tipo74 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >PERFORACIONES EN GONDOLA</td>
      <td style="padding:4px;" ><input name="tipo_7_5" type="text" class="form-control" id="tipo_7_5" style="width:100%;" value="{{ usuariosespacios.tipo75 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >MATERIAL EN  LAS GONDOLAS</td>
      <td style="padding:4px;" ><input name="tipo_7_6" type="text" class="form-control" id="tipo_7_6" style="width:100%;" value="{{ usuariosespacios.tipo76 }}"></td>
    </tr>
    <tr>
      <td colspan="2" align="center" bgcolor="#E3E3E3" style="padding:4px;" ><strong>PANTALLAS </strong></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >SI / NO</td>
      <td style="padding:4px;" ><input name="tipo_8_1" type="text" class="form-control" id="tipo_8_1" style="width:100%;" value="{{ usuariosespacios.tipo81 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >UBICACIÓN</td>
      <td style="padding:4px;" ><input name="tipo_8_2" type="text" class="form-control" id="tipo_8_2" style="width:100%;" value="{{ usuariosespacios.tipo82 }}"></td>
    </tr>
    <tr>
      <td colspan="2" align="center" bgcolor="#E3E3E3" style="padding:4px;" ><p><strong>CORRESPONSAL  BANCARIO </strong></p></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >SI / NO</td>
      <td style="padding:4px;" ><input name="tipo_9_1" type="text" class="form-control" id="tipo_9_1" style="width:100%;" value="{{ usuariosespacios.tipo91 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >BANCO</td>
      <td style="padding:4px;" ><input name="tipo_9_2" type="text" class="form-control" id="tipo_9_2" style="width:100%;" value="{{ usuariosespacios.tipo92 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >UBICACIÓN</td>
      <td style="padding:4px;" ><input name="tipo_9_3" type="text" class="form-control" id="tipo_9_3" style="width:100%;" value="{{ usuariosespacios.tipo93 }}"></td>
    </tr>
    <tr>
      <td colspan="2" align="center" bgcolor="#E3E3E3" style="padding:4px;" ><p><strong>PUNTAS  DE GONDOLAS </strong></p></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >CANTIDAD </td>
      <td style="padding:4px;" ><input name="tipo_10_1" type="text" class="form-control" id="tipo_10_1" style="width:100%;" value="{{ usuariosespacios.tipo101 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >ALTO 1 </td>
      <td style="padding:4px;" ><input name="tipo_10_2" type="text" class="form-control" id="tipo_10_2" style="width:100%;" value="{{ usuariosespacios.tipo102 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >ANCHO 1</td>
      <td style="padding:4px;" ><input name="tipo_10_3" type="text" class="form-control" id="tipo_10_3" style="width:100%;" value="{{ usuariosespacios.tipo103 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" > PROFUNDO 1</td>
      <td style="padding:4px;" ><input name="tipo_10_4" type="text" class="form-control" id="tipo_10_4" style="width:100%;" value="{{ usuariosespacios.tipo104 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >ALTO 2</td>
      <td style="padding:4px;" ><input name="tipo_10_5" type="text" class="form-control" id="tipo_10_5" style="width:100%;" value="{{ usuariosespacios.tipo105 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >ANCHO 2</td>
      <td style="padding:4px;" ><input name="tipo_10_6" type="text" class="form-control" id="tipo_10_6" style="width:100%;" value="{{ usuariosespacios.tipo106 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" > PROFUNDO 2</td>
      <td style="padding:4px;" ><input name="tipo_10_7" type="text" class="form-control" id="tipo_10_7" style="width:100%;" value="{{ usuariosespacios.tipo107 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >ALTO 3</td>
      <td style="padding:4px;" ><input name="tipo_10_8" type="text" class="form-control" id="tipo_10_8" style="width:100%;" value="{{ usuariosespacios.tipo108 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >ANCHO 3</td>
      <td style="padding:4px;" ><input name="tipo_10_9" type="text" class="form-control" id="tipo_10_9" style="width:100%;" value="{{ usuariosespacios.tipo109 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" > PROFUNDO 3</td>
      <td style="padding:4px;" ><input name="tipo_10_10" type="text" class="form-control" id="tipo_10_10" style="width:100%;" value="{{ usuariosespacios.tipo1010 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >ALTO 4</td>
      <td style="padding:4px;" ><input name="tipo_10_11" type="text" class="form-control" id="tipo_10_11" style="width:100%;" value="{{ usuariosespacios.tipo1011 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >ANCHO 4</td>
      <td style="padding:4px;" ><input name="tipo_10_12" type="text" class="form-control" id="tipo_10_12" style="width:100%;" value="{{ usuariosespacios.tipo1012 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" > PROFUNDO 4</td>
      <td style="padding:4px;" ><input name="tipo_10_13" type="text" class="form-control" id="tipo_10_13" style="width:100%;" value="{{ usuariosespacios.tipo1013 }}"></td>
    </tr>
    <tr>
      <td colspan="2" align="center" bgcolor="#E3E3E3" style="padding:4px;" ><strong>VIDRIOS</strong></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >CANTIDAD</td>
      <td style="padding:4px;" ><input name="tipo_11_1" type="text" class="form-control" id="tipo_11_1" style="width:100%;" value="{{ usuariosespacios.tipo121 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >MEDIDAS  N° 1</td>
      <td style="padding:4px;" ><input name="tipo_11_2" type="text" class="form-control" id="tipo_11_2" style="width:100%;" value="{{ usuariosespacios.tipo112 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >MEDIDAS  N° 2</td>
      <td style="padding:4px;" ><input name="tipo_11_3" type="text" class="form-control" id="tipo_11_3" style="width:100%;" value="{{ usuariosespacios.tipo113 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >MEDIDAS  N° 3</td>
      <td style="padding:4px;" ><input name="tipo_11_4" type="text" class="form-control" id="tipo_11_4" style="width:100%;" value="{{ usuariosespacios.tipo114 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >MEDIDAS  N° 4</td>
      <td style="padding:4px;" ><input name="tipo_11_5" type="text" class="form-control" id="tipo_11_5" style="width:100%;" value="{{ usuariosespacios.tipo115 }}"></td>
    </tr>
    <tr>
      <td colspan="2" align="center" bgcolor="#E3E3E3" style="padding:4px;" ><p><strong>VALLAS  INTERNAS</strong>  </p></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >LUGAR / UBICACIÓN </td>
      <td style="padding:4px;" ><input name="tipo_12_1" type="text" class="form-control" id="tipo_12_1" style="width:100%;" value="{{ usuariosespacios.tipo121 }}"></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >MEDIDA APROXIMADA</td>
      <td style="padding:4px;" ><input name="tipo_12_2" type="text" class="form-control" id="tipo_12_2" style="width:100%;" value="{{ usuariosespacios.tipo122 }}"></td>
    </tr>
    
    <tr>
      <td colspan="2" align="center" bgcolor="#E3E3E3" style="padding:4px;" ><strong>OTRO</strong></td>
    </tr>
    <tr>
      <td align="right" style="padding:4px;" >CUAL</td>
      <td style="padding:4px;" ><input name="tipo_13_1" type="text" class="form-control" id="tipo_13_1" style="width:100%;" value="{{ usuariosespacios.tipo131 }}"></td>
    </tr>
    <tr>
      <td colspan="2" align="center" style="padding:4px;" ><br>
        <input type="submit" name="submit" id="submit" value="Guardar Cambios" class="btn btn-primary">
        <input type="hidden" name="vguardar" id="vguardar" value="1">
        <input type="hidden" name="vid" id="vid" value="{{ usuariosespacios.id }}">
        <br></td>
    </tr>

  </tbody>
</table>
</form>



        {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


        {% endblock %}
    </body>
</html>