{% extends 'base.html.twig' %}

{% block body %}   
  <div class="container" style="position: relative; top: -50px;">
    <div style="position: relative;">
      <div style="position: relative; float: left; width: 50%; top: 16px; height: 80px;">       
        <h2>{{ titulo }}</h2>         
      </div>     
      <div style="clear: both;"></div>
      <div class="row">
      {% set numerar =  ((pagev * cantv)-cantv + 1) %}
      {% for result in resultset %}      
        <div class="col-md-4" style="border: 1px solid #CCCCCC; text-align: center; height: 300px; border-radius: 15px; "><center /><b />{{ numerar }}. {{ result.nombreEspacio }}<img src="{{ asset('images/espaciospublicitarios/') }}{{ result.foto }}" class="img-responsive" style="max-height: 270px;"></div>
      {% set numerar =  numerar + 1 %}
      {% endfor %} 
      </div>
  </div>

</div>
<script type="text/javascript"> 


  $(document).ready(function() {
    var heights = $(".col-md-4").map(function() {
        return $(this).height();
    }).get(),
 
    maxHeight = Math.max.apply(null, heights);
 
    $(".col-md-4").height(maxHeight);
});

</script>
{% endblock %}

