<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Exhibiciones Comerciales Farmacenter{% endblock %}</title>
        <link href="{{ asset('images/favicon.ico?v=1') }}" rel="shortcut icon" type="image/vnd.microsoft.icon" />
        
        {% block stylesheets %}
        	
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

			
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

			<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        {% endblock %}

        <style>        	
        	body {
        		font-family: 'Lato';
			    background-color: #FFFFFF;
			}
		    
		    .navbar {
		      margin-bottom: 50px;
		      border-radius: 0;
		    }
		    
		    
		     .jumbotron {
		      margin-bottom: 0;
		      margin-top: 0;
		      background-color: #004C97;
		      color: #004C97;
		      height: 130px;
		    }
		   
		    
		    footer {		      
		      padding: 25px;
		    }

			.centralcols{
				padding: 20px; 
				border: 1px solid #CCCCCC;
				text-align: center;
				cursor: pointer;
			}

			input[type=text], select {
		    width: 100%;
		    padding: 12px 20px;
		    margin: 8px 0;
		    display: inline-block;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    box-sizing: border-box;
		}
		input[type=input], select {
		    width: 100%;
		    padding: 12px 20px;
		    margin: 8px 0;
		    display: inline-block;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    box-sizing: border-box;
		}

		input[type=password], select {
		    width: 100%;
		    padding: 12px 20px;
		    margin: 8px 0;
		    display: inline-block;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    box-sizing: border-box;
		}

		input[type=email], select {
		    width: 100%;
		    padding: 12px 20px;
		    margin: 8px 0;
		    display: inline-block;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    box-sizing: border-box;
		}
		input[type=number], select {
		    width: 100%;
		    padding: 12px 20px;
		    margin: 8px 0;
		    display: inline-block;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    box-sizing: border-box;
		}

		input[type=file], select {
		    width: 100%;
		    height: 44px;
		    padding: 12px 20px;
		    margin: 8px 0;
		    display: inline-block;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    box-sizing: border-box;
		}

		#espacios_publicitarios_publico{
		    width: 100%;
		    padding: 12px 20px;
		    margin: 8px 0;
		    display: inline-block;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    box-sizing: border-box;
		}

		input[type=date], select {
		    width: 33%;
		    padding: 12px 20px;
		    margin: 8px 0;
		    display: inline-block;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    box-sizing: border-box;
		}

		textarea {
		    width: 100%;
		    height: 100px;
		    padding: 12px 20px;
		    margin: 8px 0;
		    display: inline-block;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    box-sizing: border-box;
		}

		input[type=submit] {
		    width: 100%;
		    background-color: #CCCCCC;
		    color: white;
		    padding: 14px 20px;
		    margin: 8px 0;
		    border: none;
		    border-radius: 4px;
		    cursor: pointer;
		    font-size: 18px;
		}

		input[type=radio] {
		    width: 20px;
		    height: 20px;
		    cursor: pointer;
		}
		input[type=checkbox] {
		    width: 20px;
		    height: 20px;
		    cursor: pointer;
		}
		.thpadding{
			padding: 4px;
			font-weight: normal;
		}

		#espacios_vendidos_idProveedor, #espacios_vendidos_idEspacio, #espacios_publicitarios_publico,#espacios_publicitarios_solicitados_idEstado, #espacios_publicitarios_solicitados_publico, #espacios_vendidos_idUsuario, #espacios_vendidos_estado_idEstado{
		    width: 100%;
		    padding: 12px 20px;
		    margin: 8px 0;
		    display: inline-block;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    box-sizing: border-box;
		}

		</style>
    </head>
    <body>
		<div class="jumbotron">
		  <div class="text-center" style="position: relative; top: -40px;">
		    <img src="{{ asset('images/logo-farmacenter.png') }}">
		    <p style="color: #B0D8FF; font-size: 18px; line-height: 20px;">Exhibiciones Comerciales<br><span style="color: #FFFFFF;">Módulo de Droguería</span></p>
		  </div>
		</div>
		<nav class="navbar" style="background-color: #CCCCCC; height: 52px;">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>                        
		      </button>		      
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="{{ path('proveedor_inicio') }}">Inicio</a></li>		        
	            <li><a href="{{ path('espaciosvendidos_proveedor_inicio') }}">Espacios negociados</a></li>	
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ app.user.usuario }}</a></li>
		        <li><a href="{{ path('proveedor_inicio_logout') }}"><span class="glyphicon glyphicon-remove"></span> Salir</a></li>
		      </ul>
		    </div>
		  </div>
		</nav>	

        {% block body %}        
        {% endblock %}

        <footer class="container-fluid text-center" style="background-color: #004C97; color: #B0D8FF;">
		  <p>© Farmacenter 2018</p>  
		  Todos los derechos reservados
		</footer>

        {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
