{% extends 'baseadministrador.html.twig' %}

{% block body %}   
  <div class="container" style="position: relative; top: -50px;">
    <div style="position: relative;">
      <div style="position: relative; float: left; width: 40%; top: 16px;">       
        <h2>{{ titulo }}</h2>         
      </div>
      <div style="position: relative; float: left; width: 15%; padding-left: 0px; padding-top: 12px; text-align: left; margin-top: 30px; top: -10px;">        
        <a href="{{ path('administradores_excel1') }}?b={{ buscar }}" class="btn btn-success">Descargar Excel</a>
      </div>

      <div style="position: relative; float: left; width: 45%; text-align: right; margin-top: 30px; top: -10px;">        
        <form action="" method="get">
        <input type="input" name="buscar" id="buscar" placeholder="Buscar" value="{{ buscar }}">
        </form>
      </div>
      
      <div style="clear: both;"></div>
  </div>
  <div style="position: relative; overflow: auto; border: 1px solid #D7EBFF; width: 100%; height: 440px;">
  <table width="1330" cellspacing="0" cellpadding="4" border="1" bordercolor="#D7EBFF"> 
      <tr style="background-color: #004C97; color: #FFFFFF; font-weight: normal;">
        <td width="200"><center>Cambiar Estado</center></td>        
        <td width="30" class="thpadding"><center>No</center></td>        
        <td width="200"><center>Estado</center></td>        
        <td width="200"><center>Solicitado por</center></td>        
        <td width="200"><center>Nombre Espacio</center></td>
        <td width="200"><center>Descripción</center></td>        
        <td width="50"><center>Alto</center></td>
        <td width="50"><center>Ancho</center></td>               
        <td width="150"><center>Foto Espacio</center></td>                
        <td width="200"><center>Fecha de Solicitud</center></td>        
      </tr>
    
    <tbody>
      {% set numerar =  ((pagev * cantv)-cantv + 1) %}
      {% for result in resultset %}
      <tr>
        <td align="center">
          <a href="{{ path('espaciospublicitariossolicitados_admin_edit', { 'id': result.id }) }}"><img src="{{ asset('images/editsmall.png') }}" /></a>
        </td>
        <td class="thpadding"><center>{{ numerar }}</center></td>        
        <td class="thpadding">
          {% if result.idEstado.id == 3 %}
          <b>{{ result.idEstado.estado }}</b><br><span style="color: #8C0000;"> ( {{ result.denegacion }} )</span>
        {% else %}
          {{ result.idEstado.estado }}
        {% endif %}
        </td>
        <td class="thpadding">{{ result.idUsuario.usuario }}</td>
        <td class="thpadding">
                            {% if result.idTipoEspacio.id == 13 %}
                              {{ result.idTipoEspacio.nombre }} - {{ result.nombreEspacio }}
                            {% else %}
                              {{ result.idTipoEspacio.nombre }}
                            {% endif %}
        </td>
        <td class="thpadding">{{ result.descripcion }}</td>
        <td class="thpadding">{{ result.alto }}</td>
        <td class="thpadding">{{ result.ancho }}</td>
        <td>{% if result.foto == 'unloaded' or result.foto == '' %}Foto no cargada{% else %}<img src="{{ asset('images/espaciospublicitarios/') }}{{ result.foto }}" style="width: 100px;">{% endif %}</td>        
        <td class="thpadding">{{ result.fechaCreacion|date("Y-m-d H:i:s") }}</td>
      </tr>      
      {% set numerar =  numerar + 1 %}
      {% endfor %}
    </tbody>
  </table>  
  </div>
  <center>{{ knp_pagination_render(resultset) }}</center>
</div>
<script type="text/javascript">  
  function deleteaction(v1){
    if(confirm("¿Realmente desea eliminar el elemento?")){
      window.location.href = v1;
    }
  }
</script>
{% endblock %}

