{% extends 'basekoala.html.twig' %}

{% block body %}   
  <div class="container-fluid" style="position: relative; top: -50px;">
    <div style="position: relative;">
      <div>       
        <h2>{{ titulo }}</h2>         
      </div>
      <div style="position: relative; float: left; width: 40%; text-align: right; margin-top: 30px; top: -10px; padding: 4px;">
        
        <form action="" method="get">

          <div style="position: relative; float: left; width: 42%;">
      <select name="regional" id="regional" class="form-control" style="height: 46px;" onchange="setCiudades(this.value)" >
            <option value="Todas" selected="selected">Todas las Regionales</option>        
            <option value="2100">PEREIRA</option>
            <option value="3100">BARRANQUILLA</option>
            <option value="5100">MEDELLÍN</option>
            <option value="6100">CALI</option>
            <option value="8100">COTA</option>
            <option value="9100">BUCARAMANGA</option>
        
      </select>
      </div>

      <div style="position: relative; float: left; width: 42%; padding-left: 5px;">
      <select name="ciudad" id="ciudad" class="form-control" style="height: 46px;">
            <option value="Todas" selected="selected">Todas las Ciudades</option>        
      </select>
    </div>

    <div style="position: relative; float: left; width: 16%;">
      <button class="btn btn-primary" type="submit" style="margin-top: 12px;">Buscar</button>
      <input type="hidden" name="tbvr" value="1">
    </div>
     <div style="clear: both;"></div>
    </form>


      </div>
      
      <div style="position: relative; float: left; width: 30%; text-align: right; margin-top: 30px; top: -10px; padding: 4px;">
        <form action="" method="get">

          <div style="position: relative; float: left; width: 75%;">
      <select name="idespacio" id="idespacio" class="form-control" style="height: 46px;">
        <option value="" selected="selected">Buscar por espacios disponibles</option>
        {% for espaciospublicitariostipo in espaciospublicitariostipos %}
            <option value="{{ espaciospublicitariostipo.id }}" {% if idespacio == espaciospublicitariostipo.id %} selected="selected" {% endif %} >{{ espaciospublicitariostipo.nombre }}</option>
        {% endfor %}
      </select>
    </div>

    <div style="position: relative; float: left; width: 25%;">
      <button class="btn btn-primary" type="submit" style="margin-top: 12px;">Buscar</button>
      <input type="hidden" name="tbvr" value="2">
    </div>
     <div style="clear: both;"></div>
    </form>
      </div>        
      


      <div style="position: relative; float: left; width: 30%; text-align: right; margin-top: 30px; top: -10px; padding: 4px;">  
      <form action="" method="get">      
      
      <div style="position: relative; float: left; width: 75%;">
        <input type="input" name="buscar" id="buscar" value="{{ buscar }}" placeholder="Ciudad, Código, Droguería">
      </div>        
      <div style="position: relative; float: left; width: 25%;">        
        <button class="btn btn-primary" type="submit" style="margin-top: 12px;">Buscar</button> 
        <input type="hidden" name="tbvr" value="3"> 
      </div>
      <div style="clear: both;"></div>
      </form>
      </div>

      <div style="clear: both;"></div>
  </div>
  <div style="position: relative; overflow: auto; border: 1px solid #D7EBFF; width: 100%; height: 440px;">
  <table width="3000" cellspacing="0" cellpadding="4" border="1" bordercolor="#D7EBFF"> 
      <tr style="background-color: #004C97; color: #FFFFFF; font-weight: normal;">
        <td width="150" class="thpadding"><center>Cambiar Estado</center></td>  
        <td width="30" class="thpadding"><center>No</center></td>        
        <td width="250"><center>Nombre Espacio</center></td>
        <td width="300"><center>Droguería</center></td>
        <td width="150"><center>Ciudad</center></td>
        <td width="300"><center>Estado</center></td>
        <td width="300"><center>Nombre del Proveedor</center></td>
        <td width="300"><center>Contácto Proveedor</center></td>
        <td width="300"><center>Asignado por</center></td>
        <td width="300"><center>Fecha Asignación</center></td>
        <td width="300"><center>Fecha Inicio</center></td>
        <td width="300"><center>Fecha Fin</center></td>
        <td width="300"><center>Valor</center></td>                
        <td width="300"><center>Foto Espacio</center></td>        
        <td width="300"><center>Foto Material</center></td>
      </tr>
    
    <tbody>
      {% set numerar =  ((pagev * cantv)-cantv + 1) %}
      {% for result in resultset %}
      <tr>
        <td align="center">
          {% if result.idEstado.id <= 2 and result.idUsuariokoalaSolicitud != NULL %}
            {% if result.idUsuariokoalaSolicitud.id == app.user.id %}
            <a href="{{ path('espaciosvendidos_koala_cambiarestado', { 'id': result.id }) }}"><img src="{{ asset('images/editsmall.png') }}" /></a>
            {% else %}
            &nbsp;
            {% endif %}
          {% else %}
          &nbsp;
          {% endif %}
        </td>
        <td class="thpadding"><center>{{ numerar }}</center></td>        
        <td class="thpadding">{{ result.idEspacio.idTipoEspacio.nombre }}</td>
        <td class="thpadding">{{ result.idUsuario.usuario }} - {{ result.idUsuario.drogueria }}</td>
        <td class="thpadding">{{ result.idUsuario.ciudad }}</td>
        <td class="thpadding">{{ result.idEstado.estado }}</td>
        <td class="thpadding">{{ result.idProveedor.usuario }}</td>
        <td class="thpadding">{{ result.proveedorNombre }} / Cédula: {{ result.proveedorCedula }}<br>
        Celular: {{ result.proveedorCelular }} / Cargo: {{ result.proveedorCargo }}
        </td>
        <td class="thpadding">
          {% if result.idAdministradorSolicitud != NULL %}Administrador: {{ result.idAdministradorSolicitud.usuario }}{% endif %}
          {% if result.idUsuariokoalaSolicitud != NULL %}Operador Koala: {{ result.idUsuariokoalaSolicitud.usuario }}{% endif %}
          {% if result.idProveedorSolicitud != NULL %}Proveedor: {{ result.idProveedorSolicitud.usuario }}{% endif %}
          {% if result.idProveedorSolicitud == NULL and result.idUsuariokoalaSolicitud == NULL and result.idAdministradorSolicitud == NULL %}
            {% if result.idUsuario != NULL %} Droguería: {{ result.idUsuario.usuario }}{% endif %}
          {% endif %}
        </td>
        <td class="thpadding">{{ result.fechaRadicacion|date("Y-m-d H:i:s") }}</td>
        <td class="thpadding">{{ result.fechaInicial|date("Y-m-d") }}</td>
        <td class="thpadding">{{ result.fechaFinal|date("Y-m-d") }}</td>
        <td class="thpadding">{{ result.valor|number_format(0) }}</td> 

        <td>
          <center>
          {% if result.fotoEspacio == "unloaded"  or result.fotoEspacio == "" %}
          Imagen no cargada
          {% else %}  
          <img src="{{ asset('images/espaciospublicitarios/') }}{{ result.fotoEspacio }}" style="width: 100px;">
          {% endif %}
        </center>
        </td>
        <td><center>
          {% if result.fotoMaterial == "unloaded"  or result.fotoMaterial == "" %}
          Imagen no cargada
          {% else %}  
          <img src="{{ asset('images/espaciospublicitarios/') }}{{ result.fotoMaterial }}" style="width: 100px;">
          {% endif %}
        </center>
        </td>         
      </tr>      
      {% set numerar =  numerar + 1 %}
      {% endfor %}
    </tbody>
  </table>  
  </div>
  <center>{{ knp_pagination_render(resultset) }}</center>
</div>
<script type="text/javascript">  
  function deleteaction(v1){
    if(confirm("¿Realmente desea eliminar el elemento?")){
      window.location.href = v1;
    }
  }
  {% if errort is defined %}
    {% if errort != "" %}
      alert("{{ errort }}");
    {% endif %}    
  {% endif %}  

 var arrCiudadesRegional2 = new Array();
  var arrCiudadesRegional3 = new Array();
  var arrCiudadesRegional5 = new Array();
  var arrCiudadesRegional6 = new Array();
  var arrCiudadesRegional8 = new Array();
  var arrCiudadesRegional9 = new Array();
  var arrCiudadesAll = new Array();
  
  
  {% for key,value in arrCiudadesAll %}      
      arrCiudadesAll.push("{{ value }}");
  {% endfor %}

  {% for key,value in arrCiudadesRegionales["2100"] %}      
      arrCiudadesRegional2.push("{{ value }}");
  {% endfor %}

  {% for key,value in arrCiudadesRegionales["3100"] %}      
      arrCiudadesRegional3.push("{{ value }}");
  {% endfor %}

  {% for key,value in arrCiudadesRegionales["5100"] %}      
      arrCiudadesRegional5.push("{{ value }}");
  {% endfor %}

  {% for key,value in arrCiudadesRegionales["6100"] %}      
      arrCiudadesRegional6.push("{{ value }}");
  {% endfor %}

  {% for key,value in arrCiudadesRegionales["8100"] %}      
      arrCiudadesRegional8.push("{{ value }}");
  {% endfor %}

  {% for key,value in arrCiudadesRegionales["9100"] %}      
      arrCiudadesRegional9.push("{{ value }}");
  {% endfor %}
  setCiudades(0);
  function setCiudades(value){
    //alert(value);
    var mySelect = document.getElementById('ciudad');
    mySelect.options.length = 0;
    $('#ciudad').append('<option value="Todas">Todas las Ciudades</option>');
    
    if(value == "2100"){
      $(arrCiudadesRegional2).each(function (index, element){
        $('#ciudad').append('<option value="' + element + '">' + element + '</option>');
      });
    }else if(value == "3100"){
      $(arrCiudadesRegional3).each(function (index, element){
        $('#ciudad').append('<option value="' + element + '">' + element + '</option>');
      });
    }else if(value == "5100"){
      $(arrCiudadesRegional5).each(function (index, element){
        $('#ciudad').append('<option value="' + element + '">' + element + '</option>');
      });
    }else if(value == "6100"){
      $(arrCiudadesRegional6).each(function (index, element){
        $('#ciudad').append('<option value="' + element + '">' + element + '</option>');
      });
    }else if(value == "8100"){
      $(arrCiudadesRegional8).each(function (index, element){
        $('#ciudad').append('<option value="' + element + '">' + element + '</option>');
      });
    }else if(value == "9100"){
      $(arrCiudadesRegional9).each(function (index, element){
        $('#ciudad').append('<option value="' + element + '">' + element + '</option>');
      });
    }else{
      $(arrCiudadesAll).each(function (index, element){
        $('#ciudad').append('<option value="' + element + '">' + element + '</option>');
      });
    }     
  }

</script>
{% endblock %}

