{% extends 'basekoala.html.twig' %}

{% block body %}   
  <div class="container" style="position: relative; top: -60px;">
    <div style="position: relative; height: 80px;">
      <div style="position: relative; float: left; width: 50%; top: 16px;">       
        <h2>{{ titulo }}</h2>         
      </div>
      <div style="clear: both;"></div>
  </div>

    
    <h4>Búsqueda por Droguería: {{ buscar }}</h4>
    <hr color="#CCCCCC">
    {% if espaciospublicitariosdisponibles|length > 0 %}
    <table width="850" cellspacing="0" cellpadding="4" border="1" bordercolor="#D7EBFF"> 
       <tr style="background-color: #004C97; color: #FFFFFF; font-weight: normal;">                
        <td width="30" class="thpadding"><center>No</center></td>        
        <td width="190"><center>Espacio</center></td>
        <td width="170"><center>Descripción</center></td>
        <td width="170"><center>Negociar</center></td>
      </tr>
      {% set numerar =  ((pagev * cantv)-cantv + 1) %}
      {% for espaciopublicitaridisponible in espaciospublicitariosdisponibles %}
      <tr>        
        <td class="thpadding"><center>{{ numerar }}</center></td>
        <td class="thpadding"><center>{% if espaciopublicitaridisponible.idTipoEspacio.id == 13 %}
                                        {{ espaciopublicitaridisponible.idTipoEspacio.nombre }} - {{ espaciopublicitaridisponible.nombreEspacio }}
                                      {% else %}
                                        {{ espaciopublicitaridisponible.idTipoEspacio.nombre }}
                                      {% endif %}
                                    </center></td>
        <td class="thpadding"><center>{{ espaciopublicitaridisponible.descripcion }}</center></td> 
        <td>
              <center /><a href="{{ path('espaciosvendidos_koala_new') }}?id1=1&id2={{ espaciopublicitaridisponible.id }}&id3={{ buscar }}"><img src="{{ asset('images/newsmall.png') }}"></a>
          
        </td>       
      </tr>      
      {% set numerar =  numerar + 1 %}
      {% endfor %}
  </table>
{% else %} 
No se ha encontrado la Droguería
{% endif %} 

</div>
<script type="text/javascript">  
  function deleteaction(v1){
    if(confirm("¿Realmente desea eliminar el elemento?")){
      window.location.href = v1;
    }
  }
</script>
{% endblock %}

