{% extends 'basekoala.html.twig' %}

{% block body %}   
  <div class="container" style="position: relative; top: -60px;">
    <div style="position: relative; height: 80px;">
      <div style="position: relative; float: left; width: 50%; top: 16px;">       
        <h2>{{ titulo }}</h2>         
      </div>
      <div style="position: relative; float: left; width: 50%; top: 16px; text-align: center;"><center />
        <a href="#" onclick="validarSeleccionados()"><img src="{{ asset('images/newsmall.png') }}"><br>Reservar seleccionados</a>   
      </div>
      <div style="clear: both;"></div>
  </div>

    {% set count =  1 %}
    <h4>Búsqueda por Tipo de Espacio: {{ usuariosEspaciosTipos.nombre }} Regional: {{ regional }}</h4>
    <hr color="#CCCCCC">

    {% if espaciospublicitariosdisponibles[0] is defined %}
    <a href="#" onclick="selectall();"><span id="selectalltext">Seleccionar Todos</span></a>
    <table width="100%" cellspacing="0" cellpadding="4" border="1" bordercolor="#D7EBFF"> 
       <tr style="background-color: #004C97; color: #FFFFFF; font-weight: normal;">                
        <td width="30" class="thpadding"><center>No</center></td>        
        <td width="50" class="thpadding"><center>&nbsp;</center></td>        
        <td width="190"><center>Droguería</center></td>
        <td width="190"><center>Ciudad</center></td>
        <td width="170"><center>Espacio</center></td>
        <td width="170"><center>Negociar</center></td>
      </tr>
      {% set numerar =  ((pagev * cantv)-cantv + 1) %}
      
      {% for espaciospublicitariosdisponible in espaciospublicitariosdisponibles %}
      <tr>        
        <td class="thpadding"><center>{{ numerar }}</center></td>
        <td class="thpadding"><center><input type="checkbox" value="{{ espaciospublicitariosdisponible.idUsuario.id }}" name="selected_{{ count }}" id="selected_{{ count }}"></center></td>
        <td class="thpadding">{{ espaciospublicitariosdisponible.idUsuario.usuario }} - {{ espaciospublicitariosdisponible.idUsuario.drogueria }}</td>
        <td class="thpadding"><center>{{ espaciospublicitariosdisponible.idUsuario.ciudad }}</center></td>

        <td class="thpadding"><center>          
          {% if espaciospublicitariosdisponible.idTipoEspacio.id == 13 %}
            {{ espaciospublicitariosdisponible.idTipoEspacio.nombre }} - {{ espaciospublicitariosdisponible.nombreEspacio }}
          {% else %}
            {{ espaciospublicitariosdisponible.idTipoEspacio.nombre }}
          {% endif %}
        </center></td> 
        <td><center />
          <center />
          <input type="hidden" name="hidv_{{ count }}" id="hidv_{{ count }}" value="{{ espaciospublicitariosdisponible.idUsuario.codigo }}">
          <input type="hidden" name="hiid_{{ count }}" id="hiid_{{ count }}" value="{{ espaciospublicitariosdisponible.id }}">
          
          <a href="{{ path('espaciosvendidos_koala_new') }}?id1=2&id2={% if espaciospublicitariosdisponible.idTipoEspacio.id == 13 %}{{ espaciospublicitariosdisponible.idTipoEspacio.nombre }} - {{ espaciospublicitariosdisponible.nombreEspacio }}{% else %}{{ espaciospublicitariosdisponibles[0].idTipoEspacio.nombre }}{% endif %}&id3={{ espaciospublicitariosdisponible.idUsuario.codigo }}&id4={{ espaciospublicitariosdisponible.idUsuario.id }}&id5={{ espaciospublicitariosdisponible.id }}"><img src="{{ asset('images/newsmall.png') }}"></a>
        </td>       
      </tr>      
      {% set numerar =  numerar + 1 %}
      {% set count =  count + 1 %}
      {% endfor %}
      
  </table>
{% else %} 
No se ha encontrado resultados para ese tipo de espacio
{% endif %} 
{% set countb =  count - 1 %}
</div>
<script type="text/javascript">  
  function deleteaction(v1){
    if(confirm("¿Realmente desea eliminar el elemento?")){
      window.location.href = v1;
    }
  }
  function validarSeleccionados(){

    var usuarios = "";
    var codigos = "";
    var idsv = "";

    var countb = "{{ countb }}";
    var contar = 0;
    for(var t = 1; t <= countb; t++){
      if($("#selected_" + t).prop("checked")){
        usuarios += $("#selected_" + t).val() + ",";
        codigos += $("#hidv_" + t).val() + ", ";
        idsv += $("#hiid_" + t).val() + ",";
        contar ++;
      }
    }

    codigost = codigos.substr(0, (codigos.length - 2));
    if(contar == 0){
      alert("Debe seleecionar alguna Droguería para reservar");
      return;
    }
    var url = "{{ path('espaciosvendidos_koala_new') }}?id1=3&id2={{ buscarb }}&id3=" + codigost + "&id4=" + usuarios + "&id5=" + contar + "&id6=" + idsv + "&end=true";
    window.location.href = url;
  }
  window.selectallt = 0;
  function selectall(){
    var countb = "{{ countb }}";
    for(var t = 1; t <= countb; t++){
      if(window.selectallt == 0){
        $("#selected_" + t).prop("checked", true);
      }else{
        $("#selected_" + t).prop("checked", false);
      }
    }
    if(window.selectallt == 0){
      window.selectallt = 1;
      $("#selectalltext").html("Deseleccionar Todos");
    }else{
      window.selectallt = 0;
      $("#selectalltext").html("Seleccionar Todos");
    }
  }
</script>
{% endblock %}

