{% extends 'basekoala.html.twig' %}

{% block body %}   
  <div class="container" style="position: relative; top: -50px;">
    <div style="position: relative;">
      <div style="position: relative; float: left; width: 50%; top: 16px;">       
        <h2>{{ titulo }}</h2>         
      </div>
      <div style="position: relative; float: left; width: 50%; text-align: right; margin-top: 30px; top: -10px;">        
        <form action="" method="get">
        <input type="input" name="buscar" id="buscar" placeholder="Buscar" value="{{ buscar }}">
        </form>
      </div>
      <div style="clear: both;"></div>
  </div>
  <div style="position: relative; overflow: auto; border: 1px solid #D7EBFF; width: 100%; height: 440px;">
  <table width="1000" cellspacing="0" cellpadding="4" border="1" bordercolor="#D7EBFF"> 
      <tr style="background-color: #004C97; color: #FFFFFF; font-weight: normal;">                
        <td width="30" class="thpadding"><center>No</center></td>        
        <td width="80" class="thpadding"><center>Código</center></td>
        <td width="300" class="thpadding"><center>Asociado</center></td>
        <td width="170"><center>Espacios solicitados</center></td>
        <td width="250"><center>Espacios negociados vigentes</center></td>
        <td width="180"><center>Espacios disponibles</center></td>
        <td width="230"><center>Total historico instalados</center></td>
      </tr>

    <tbody>
      {% set numerar =  ((pagev * cantv)-cantv + 1) %}
      {% for result in resultset %}
      <tr>
        <td class="thpadding"><center>{{ numerar }}</center></td>
        <td width="30" class="thpadding">{{ result.usuario }}</td>
        <td width="30" class="thpadding">{{ result.drogueria }}</td>
        <td class="thpadding">{{ solicitados[result.id].solicitados }}</td>        
        <td class="thpadding">{{ vendidos[result.id] }}</td>        
        <td class="thpadding">{{ disponibles[result.id] }}</td>        
        <td class="thpadding">{{ totales[result.id] }}</td>        
      </tr>      
      {% set numerar =  numerar + 1 %}
      {% endfor %}
    </tbody>
  </table>  
  </div>
  <center>{{ knp_pagination_render(resultset) }}</center>
</div>
<script type="text/javascript">  
  function deleteaction(v1){
    if(confirm("¿Realmente desea eliminar el elemento?")){
      window.location.href = v1;
    }
  }
</script>
{% endblock %}

