{% extends 'baseadministrador.html.twig' %}

{% block body %}        
    <div style="position: relative; top: -50px; min-height: 300px;"><br><center><h3>Administrador del Sistema</h3></center></div>
{% endblock %}