<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Exhibiciones Comerciales Farmacenter{% endblock %}</title>
        <link href="{{ asset('images/favicon.ico?v=1') }}" rel="shortcut icon" type="image/vnd.microsoft.icon" />



        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>


        <style>         
            body {
                font-family: 'Lato';
                background-color: #FFFFFF;
                }

                .navbar {
                  margin-bottom: 50px;
                  border-radius: 0;
                }
                

                 .jumbotron {
                  margin-bottom: 0;
                  margin-top: 0;
                  background-color: #004C97;
                  color: #004C97;
                  height: 130px;
                }
               

                footer {              
                  padding: 25px;
                }


                .form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
            </style>

</head>
    <body style="background-color: #0059B3;">
        <p>&nbsp;</p>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">            
            <div class="account-wall" style="background-color: #004C97;">
                <center>
                <img class="img-responsive" src="{{ asset('images/logo-farmacenterAzul.png') }}"
                    alt="">
                <p style="color: #B0D8FF; font-size: 18px; line-height: 20px;">Exhibiciones Comerciales<br>Administrador del sistema</p>
                </center>
                <form class="form-signin" method="post" action="{{ path('administrador_inicio_login_check') }}">
                <input type="text" class="form-control" placeholder="Usuario"id="username" name="_username" required autofocus>
                <input type="password" class="form-control" placeholder="Password" id="password" name="_password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Iniciar Sesión</button>                
                </form>
            </div>            
        </div>
    </div>
</div>

</body>

</html>