{% extends 'baseadministrador.html.twig' %}

{% block body %}  

<div class="modal fade" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width: 75%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Cargando...
      </div>
    </div>
  </div>
</div>


	<div class="container-fluid" style="position: relative; top: -50px;">
		<div style="position: relative;">
			<div>				
				<h2>{{ titulo }}</h2>  				
			</div>


      <div style="position: relative; float: left; width: 40%; text-align: right; margin-top: 30px; top: -10px; padding: 4px;">
        
        <form action="" method="get">

          <div style="position: relative; float: left; width: 42%;">
      <select name="regional" id="regional" class="form-control" style="height: 46px;" onchange="setCiudades(this.value)" >
            <option value="Todas" selected="selected">Todas las Regionales</option>        
            <option value="2100">PEREIRA</option>
            <option value="3100">BARRANQUILLA</option>
            <option value="5100">MEDELLÍN</option>
            <option value="6100">CALI</option>
            <option value="8100">COTA</option>
            <option value="9100">BUCARAMANGA</option>
        
      </select>
      </div>

      <div style="position: relative; float: left; width: 42%; padding-left: 5px;">
      <select name="ciudad" id="ciudad" class="form-control" style="height: 46px;">
            <option value="Todas" selected="selected">Todas las Ciudades</option>        
      </select>
    </div>

    <div style="position: relative; float: left; width: 16%;">
      <button class="btn btn-primary" type="submit" style="margin-top: 12px;">Buscar</button>
      <input type="hidden" name="tbvr" value="1">
    </div>
     <div style="clear: both;"></div>
    </form>
      </div>

      
      <div style="position: relative; float: left; width: 25%; text-align: right; margin-top: 30px; top: -10px; padding: 4px;">
        <form action="" method="get">

          <div style="position: relative; float: left; width: 75%;">
      <select name="idespacio" id="idespacio" class="form-control" style="height: 46px;">
        <option value="" selected="selected">Buscar por espacios disponibles</option>
        {% for espaciospublicitariostipo in espaciospublicitariostipos %}
            <option value="{{ espaciospublicitariostipo.id }}" {% if idespacio == espaciospublicitariostipo.id %} selected="selected" {% endif %} >{{ espaciospublicitariostipo.nombre }}</option>
        {% endfor %}
      </select>
    </div>

    <div style="position: relative; float: left; width: 25%;">
      <button class="btn btn-primary" type="submit" style="margin-top: 12px;">Buscar</button>
      <input type="hidden" name="tbvr" value="2">
    </div>
     <div style="clear: both;"></div>
    </form>
      </div>   


      <div style="position: relative; float: left; width: 24%; text-align: right; margin-top: 30px; top: -10px; padding: 4px;">  
      <form action="" method="get">      
      
      <div style="position: relative; float: left; width: 75%;">
        <input type="input" name="buscar" id="buscar" value="{{ buscar }}" placeholder="Usuario, Ciudad, Código, Droguería">
      </div>        
      <div style="position: relative; float: left; width: 25%; padding-left: 2px; ">        
        <button class="btn btn-primary" type="submit" style="margin-top: 12px;">Buscar</button> 
        <input type="hidden" name="tbvr" value="3"> 
      </div>
      <div style="clear: both;"></div>
      </form>
      </div>

			<div style="float: right; width: 11%; text-align: right; margin-top: 36px;">
				<a href="{{ path('administradores_excel4') }}?b={{ buscar }}&idespacio={{ idespacio }}&regional={{ regional }}&ciudad={{ ciudad }}&tbvr={{ tbvr }}&end=true" class="btn btn-success">Descargar Excel</a>
			</div>



			<div style="clear: both;"></div>
	</div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th width="10%"><center>Código Droguería</center></th>
        
        <th width="10%"><center>Ciudad</center></th>
        <th width="30%"><center>Regional</center></th>
        <th width="30%"><center>Código</center></th>
        <th width="30%"><center>Nombre Droguería</center></th>
        <th width="30%"><center>Dirección</center></th>
        <th width="30%"><center>Teléfono</center></th>
        <th width="20%"><center>Acceso Permitido</center></th>
        <th width="10%" align="center"><center>Negociar</center></th>
        <th width="10%" align="center"><center>Editar</center></th>
        <th width="10%" align="center"><center>Espacios</center></th>
        <th width="10%" align="center"><center>Eliminar</center></th>        
      </tr>
    </thead>
    <tbody>
      {% for result in resultset %}
      <tr>
        <td>{{ result.usuario }}</td>
        
        <td>{{ result.ciudad }}</td>
        <td>{{ result.regional }}</td>
        <td>{{ result.codigo }}</td>
        <td>{{ result.drogueria }}</td>
        <td>{{ result.direccion }}</td>
        <td>{{ result.telefono }}</td>
        <td>{% if result.accesoPermitido == 1 %}Si{% else %}No{% endif %}</td>
        <td align="center">
        	<form id="" name="" method="post" action="{{ path('espaciosvendidos_admin_buscar') }}">
            <input type="hidden" name="casevar" id="casevar" value="1">
            <input type="hidden" name="buscar" id="buscar" value="{{ result.codigo }}">
            <input type="image" src="{{ asset('images/newsmall.png') }}">
          </form>
        </td>
        
        <td align="center">
          <a href="{{ path('usuarios_admin_edit', { 'id': result.id }) }}"><img src="{{ asset('images/editsmall.png') }}" /></a>
        </td>

        <td align="center">
          <a href="{{ path('espaciospublicitariossolicitados_admin_inicio') }}?buscar={{ result.usuario }}"><img src="{{ asset('images/espaciossmall.png') }}" /></a>
        </td>
        <td align="center">
        	<a href="javascript:vois(0);" onclick="deleteaction('{{ path('usuarios_admin_delete', { 'id': result.id }) }}')"><img src="{{ asset('images/deletesmall.png') }}" /></a>
        </td>
      </tr>      
      {% endfor %}
    </tbody>
  </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
	function deleteaction(v1){
		if(confirm("¿Realmente desea eliminar el elemento?")){
			window.location.href = v1;
		}
	}
  $(document).ready(function(){
        $("#detalleModal").on('hide.bs.modal', function () {
            location.reload();
    });
  });
  {% if errorvar != "" %}
    alert("Error: No se puede crear la droguería por que el Código {{ errorvar }} de droguería ya se encuentra reistrado");
  {% endif %}

  var arrCiudadesRegional2 = new Array();
  var arrCiudadesRegional3 = new Array();
  var arrCiudadesRegional5 = new Array();
  var arrCiudadesRegional6 = new Array();
  var arrCiudadesRegional8 = new Array();
  var arrCiudadesRegional9 = new Array();
  var arrCiudadesAll = new Array();
  
  
  {% for key,value in arrCiudadesAll %}      
      arrCiudadesAll.push("{{ value }}");
  {% endfor %}

  {% for key,value in arrCiudadesRegionales["2100"] %}      
      arrCiudadesRegional2.push("{{ value }}");
  {% endfor %}

  {% for key,value in arrCiudadesRegionales["3100"] %}      
      arrCiudadesRegional3.push("{{ value }}");
  {% endfor %}

  {% for key,value in arrCiudadesRegionales["5100"] %}      
      arrCiudadesRegional5.push("{{ value }}");
  {% endfor %}

  {% for key,value in arrCiudadesRegionales["6100"] %}      
      arrCiudadesRegional6.push("{{ value }}");
  {% endfor %}

  {% for key,value in arrCiudadesRegionales["8100"] %}      
      arrCiudadesRegional8.push("{{ value }}");
  {% endfor %}

  {% for key,value in arrCiudadesRegionales["9100"] %}      
      arrCiudadesRegional9.push("{{ value }}");
  {% endfor %}
  setCiudades(0);
  function setCiudades(value){
    //alert(value);
    var mySelect = document.getElementById('ciudad');
    mySelect.options.length = 0;
    $('#ciudad').append('<option value="Todas">Todas las Ciudades</option>');
    
    if(value == "2100"){
      $(arrCiudadesRegional2).each(function (index, element){
        $('#ciudad').append('<option value="' + element + '">' + element + '</option>');
      });
    }else if(value == "3100"){
      $(arrCiudadesRegional3).each(function (index, element){
        $('#ciudad').append('<option value="' + element + '">' + element + '</option>');
      });
    }else if(value == "5100"){
      $(arrCiudadesRegional5).each(function (index, element){
        $('#ciudad').append('<option value="' + element + '">' + element + '</option>');
      });
    }else if(value == "6100"){
      $(arrCiudadesRegional6).each(function (index, element){
        $('#ciudad').append('<option value="' + element + '">' + element + '</option>');
      });
    }else if(value == "8100"){
      $(arrCiudadesRegional8).each(function (index, element){
        $('#ciudad').append('<option value="' + element + '">' + element + '</option>');
      });
    }else if(value == "9100"){
      $(arrCiudadesRegional9).each(function (index, element){
        $('#ciudad').append('<option value="' + element + '">' + element + '</option>');
      });
    }else{
      $(arrCiudadesAll).each(function (index, element){
        $('#ciudad').append('<option value="' + element + '">' + element + '</option>');
      });
    }     
  }

</script>
{% endblock %}

