{% extends 'baseadministrador.html.twig' %}

{% block body %}   
	<div class="modal fade" id="modalEspacios" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title"><span id="modalEspaciosTitulo"></span></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">	
	      	<div class="table-responsive">
	        <table border="1" bordercolor="#CCCCCC" width="100%" cellspacing="0" cellpadding="4" class="table table-hover table-striped">
	        	<tr>
	        		<td width="100%" colspan="2" align="center">
	        			<div id="modalEspaciosImagen"></div>
	        		</td>
	        	</tr>

	        	<tr>
	        		<td width="50%" align="right">
	        			Ancho
	        		</td>
	        		<td width="50%" align="left">
	        			14 Cm
	        		</td>
	        	</tr>

	        	<tr>
	        		<td align="right">
	        			Alto
	        		</td>
	        		<td align="left">
	        			40 Cm
	        		</td>
	        	</tr>
	        </table>
	    	</div>
	      </div>
	      <div class="modal-footer">	        
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>

    <div class="row" style="position: relative; width: 90%; margin: auto; top: -40px;">

      <div class="centralcols col-md-4" onclick="setModalEspacios(1)" data-toggle="modal" data-target="#modalEspacios">
      	<center>
      		<img src="{{ asset('images/espaciosPublicitarios/foto1.jpg') }}" width="300" class="img-responsive">
      		<br><a style="color: #0C376B; font-weight: bold;">Espacio 1</a>
      	</center>
      </div>  

      <div class="centralcols col-md-4" onclick="setModalEspacios(2)" data-toggle="modal" data-target="#modalEspacios">
      	<center>
      		<img src="{{ asset('images/espaciosPublicitarios/foto2.jpg') }}" width="300" class="img-responsive">
      		<br><a style="color: #0C376B; font-weight: bold;">Espacio 2</a>
      	</center>
      </div>  

      <div class="centralcols col-md-4" onclick="setModalEspacios(3)" data-toggle="modal" data-target="#modalEspacios">
      	<center>
      		<img src="{{ asset('images/espaciosPublicitarios/foto3.jpg') }}" width="300" class="img-responsive">
      		<br><a style="color: #0C376B; font-weight: bold;">Espacio 3</a>
      	</center>
      </div>  

      <div class="centralcols col-md-4" onclick="setModalEspacios(4)" data-toggle="modal" data-target="#modalEspacios">
      	<center>
      		<img src="{{ asset('images/espaciosPublicitarios/foto4.jpg') }}" width="300" class="img-responsive">
      		<br><a style="color: #0C376B; font-weight: bold;">Espacio 4</a>
      	</center>
      </div>  

      <div class="centralcols col-md-4" onclick="setModalEspacios(5)" data-toggle="modal" data-target="#modalEspacios">
      	<center>
      		<img src="{{ asset('images/espaciosPublicitarios/foto5.jpg') }}" width="300" class="img-responsive">
      		<br><a style="color: #0C376B; font-weight: bold;">Espacio 5</a>
      	</center>
      </div>  

      <div class="centralcols col-md-4" onclick="setModalEspacios(6)" data-toggle="modal" data-target="#modalEspacios">
      	<center>
      		<img src="{{ asset('images/espaciosPublicitarios/foto6.jpg') }}" width="300" class="img-responsive">
      		<br><a style="color: #0C376B; font-weight: bold;">Espacio 6</a>
      	</center>
      </div>  

      <div class="centralcols col-md-4" onclick="setModalEspacios(7)" data-toggle="modal" data-target="#modalEspacios">
      	<center>
      		<img src="{{ asset('images/espaciosPublicitarios/foto7.jpg') }}" width="300" class="img-responsive">
      		<br><a style="color: #0C376B; font-weight: bold;">Espacio 7</a>
      	</center>
      </div>  

      <div class="centralcols col-md-4" onclick="setModalEspacios(8)" data-toggle="modal" data-target="#modalEspacios">
      	<center>
      		<img src="{{ asset('images/espaciosPublicitarios/foto8.jpg') }}" width="300" class="img-responsive">
      		<br><a style="color: #0C376B; font-weight: bold;">Espacio 8</a>
      	</center>
      </div>  

      <div class="centralcols col-md-4" onclick="setModalEspacios(9)" data-toggle="modal" data-target="#modalEspacios">
      	<center>
      		<img src="{{ asset('images/espaciosPublicitarios/foto9.jpg') }}" width="300" class="img-responsive">
      		<br><a style="color: #0C376B; font-weight: bold;">Espacio 9</a>
      	</center>
      </div>  



	</div>
	<script type="text/javascript">
		function setModalEspacios(casevar){
			
			$("#modalEspaciosTitulo").html("Espacio " + casevar);
			$("#modalEspaciosImagen").html("<img src=\"{{ asset('images/espaciosPublicitarios/foto1.jpg') }}\" width=\"400\" class=\"img-responsive\">");

			
		}
	</script>
{% endblock %}

